/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/nova-light/theme.css';
@import '~primeng/resources/primeng.min.css';

.container-dialog {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.img-guess-logo {
  width: 48px;
  height: auto;
}
.img-guess-name, .img-guess-talk-single {
  width: 192px;
  height: auto;
}
.img-guess-picture, .img-guess-talk-many, .img-guess-speaker {
  width: 120px;
  height: auto;
}
.img-guess-result {
  width: 96px;
  height: auto;
}

@media (min-width: 576px) {
  .container-dialog {
    max-width: 540px;
  }
  .img-guess-logo {
    width: 48px;
    height: auto;
  }
  .img-guess-name, .img-guess-talk-single {
    width: 192px;
    height: auto;
  }
  .img-guess-picture, .img-guess-talk-many, .img-guess-speaker {
    width: 120px;
    height: auto;
  }
  .img-guess-result {
    width: 96px;
    height: auto;
  }
}

@media (min-width: 768px) {
  .container-dialog {
    max-width: 720px;
  }
  .img-guess-logo {
    width: 64px;
    height: auto;
  }
  .img-guess-name, .img-guess-talk-single {
    width: 256px;
    height: auto;
  }
  .img-guess-picture, .img-guess-talk-many, .img-guess-speaker {
    width: 160px;
    height: auto;
  }
  .img-guess-result {
    width: 128px;
    height: auto;
  }
}

@media (min-width: 992px) {
  .container-dialog {
    max-width: 720px;
  }
  .img-guess-logo {
    width: 82px;
    height: auto;
  }
  .img-guess-name, .img-guess-talk-single {
    width: 330px;
    height: auto;
  }
  .img-guess-picture, .img-guess-talk-many, .img-guess-speaker {
    width: 206px;
    height: auto;
  }
  .img-guess-result {
    width: 165px;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .container-dialog {
    max-width: 720px;
  }
  .img-guess-logo {
    width: 100px;
    height: auto;
  }
  .img-guess-name, .img-guess-talk-single {
    width: 400px;
    height: auto;
  }
  .img-guess-picture, .img-guess-talk-many, .img-guess-speaker {
    width: 250px;
    height: auto;
  }
  .img-guess-result {
    width: 200px;
    height: auto;
  }
}

.start-listbox.ui-listbox, .start-dropdown.ui-dropdown {
  width: 100%;
}

.mode-radiobutton.ui-radiobutton-box, .mode-radiobutton.ui-radiobutton-label {
  padding: 7px 0 7px 0;
}

input.ng-dirty.ng-invalid, textarea.ng-dirty.ng-invalid {
  border: 2px solid #ff0000;
}

input.ng-dirty.ng-valid, textarea.ng-dirty.ng-valid {
  border: 2px solid #6bc502;
}
