/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/nova/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

.container-home {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 400px;
}
.container-dialog, .container-information {
  width: 100%;
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto;
  margin-left: auto;
}
.img-home-logo {
  width: 100%;
  height: auto;
}
.img-event-type-logo {
  height: 72px;
}
.img-event-type-logo-talk {
  height: 30px;
}
.img-speaker-photo {
  max-width: 400px;
  width: 100%;
  height: auto;
}
.img-event-type-logo-list, .img-event-type-logo-table, .img-speaker-photo-table, .img-speaker-degree-table {
  height: 24px;
}
.img-speaker-degree {
  height: 30px;
}
.img-guess-logo {
  width: 48px;
  height: auto;
}
.img-guess-name-by-photo, .img-guess-talk-by-speaker-single, .img-guess-account-by-speaker {
  width: 192px;
  height: auto;
}
.img-guess-photo-by-name, .img-guess-talk-by-speaker-some, .img-guess-speaker-by-talk, .img-guess-speaker-by-account,
.img-guess-tag-cloud-by-speaker, .img-guess-speaker-by-tag-cloud {
  width: 120px;
  height: auto;
}
.img-guess-result {
  width: 96px;
  height: auto;
}

@media (min-width: 576px) {
  .container-dialog {
    max-width: 540px;
  }
  .img-guess-logo {
    width: 48px;
    height: auto;
  }
  .img-guess-name-by-photo, .img-guess-talk-by-speaker-single, .img-guess-account-by-speaker {
    width: 192px;
    height: auto;
  }
  .img-guess-photo-by-name, .img-guess-talk-by-speaker-some, .img-guess-speaker-by-talk, .img-guess-speaker-by-account,
  .img-guess-tag-cloud-by-speaker, .img-guess-speaker-by-tag-cloud {
    width: 120px;
    height: auto;
  }
  .img-guess-result {
    width: 96px;
    height: auto;
  }
}

@media (min-width: 768px) {
  .container-dialog {
    max-width: 720px;
  }
  .img-guess-logo {
    width: 64px;
    height: auto;
  }
  .img-guess-name-by-photo, .img-guess-talk-by-speaker-single, .img-guess-account-by-speaker {
    width: 256px;
    height: auto;
  }
  .img-guess-photo-by-name, .img-guess-talk-by-speaker-some, .img-guess-speaker-by-talk, .img-guess-speaker-by-account,
  .img-guess-tag-cloud-by-speaker, .img-guess-speaker-by-tag-cloud {
    width: 160px;
    height: auto;
  }
  .img-guess-result {
    width: 128px;
    height: auto;
  }
}

@media (min-width: 992px) {
  .container-dialog {
    max-width: 720px;
  }
  .img-guess-logo {
    width: 82px;
    height: auto;
  }
  .img-guess-name-by-photo, .img-guess-talk-by-speaker-single, .img-guess-account-by-speaker {
    width: 330px;
    height: auto;
  }
  .img-guess-photo-by-name, .img-guess-talk-by-speaker-some, .img-guess-speaker-by-talk, .img-guess-speaker-by-account,
  .img-guess-tag-cloud-by-speaker, .img-guess-speaker-by-tag-cloud {
    width: 206px;
    height: auto;
  }
  .img-guess-result {
    width: 165px;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .container-dialog {
    max-width: 720px;
  }
  .img-guess-logo {
    width: 100px;
    height: auto;
  }
  .img-guess-name-by-photo, .img-guess-talk-by-speaker-single, .img-guess-account-by-speaker {
    width: 400px;
    height: auto;
  }
  .img-guess-photo-by-name, .img-guess-talk-by-speaker-some, .img-guess-speaker-by-talk, .img-guess-speaker-by-account,
  .img-guess-tag-cloud-by-speaker, .img-guess-speaker-by-tag-cloud {
    width: 250px;
    height: auto;
  }
  .img-guess-result {
    width: 200px;
    height: auto;
  }
}

@media (min-width: 1400px) {
  .container-information {
    max-width: 1400px;
  }
}

// Style for autocompletes
.search-autocomplete.p-autocomplete, .search-autocomplete .p-inputtext,
.olap-autocomplete.p-autocomplete, .olap-autocomplete .p-inputtext {
  width: 100%;
}

// Style for dropdowns
.organizer-dropdown.p-dropdown, .event-type-dropdown.p-dropdown {
  min-width: 175px;
}

// Styles for table paginator
.p-paginator {
  .p-dropdown {
    order: 0 !important;
    margin-right: auto !important;
  }

  .p-paginator-first {
    margin-left: auto !important;
    order: 1 !important;
  }

  .p-paginator-prev {
    order: 2 !important;
  }

  .p-paginator-pages {
    order: 3 !important;
  }

  .p-paginator-next {
    order: 4 !important;
  }

  .p-paginator-last {
    order: 5 !important;
  }

  .p-paginator-current {
    margin-left: auto !important;
    order: 6 !important;
  }
}

// Styles for table header
.p-datatable .p-datatable-thead > tr > th {
  white-space: normal !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

// Styles for table body
.p-datatable .p-datatable-tbody > tr > td {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

// Checkbox style
.p-checkbox-label, .p-radiobutton-label {
  margin-bottom: 0;
}

// Link styles on list pages
.btn-sm-condensed {
  padding: .25rem .2rem .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem}

// Habr color
.text-habr {
  color: #548eaa;
}

// Total column styles on OLAP page
.p-datatable .p-datatable-tbody > tr > td.total-column {
  font-weight: 700;
  background: #f4f4f4;
}
