/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-family: 'Ubuntu',Helvetica,Arial,sans-serif;
}

.container-dialog {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.img-guess-logo {
  width: 48px;
  height: auto;
}
.img-guess-name {
  width: 192px;
  height: auto;
}
.img-guess-picture {
  width: 120px;
  height: auto;
}
.img-guess-result {
  width: 96px;
  height: auto;
}

@media (min-width: 576px) {
  .container-dialog {
    max-width: 540px;
  }
  .img-guess-logo {
    width: 48px;
    height: auto;
  }
  .img-guess-name {
    width: 192px;
    height: auto;
  }
  .img-guess-picture {
    width: 120px;
    height: auto;
  }
  .img-guess-result {
    width: 96px;
    height: auto;
  }
}

@media (min-width: 768px) {
  .container-dialog {
    max-width: 720px;
  }
  .img-guess-logo {
    width: 64px;
    height: auto;
  }
  .img-guess-name {
    width: 256px;
    height: auto;
  }
  .img-guess-picture {
    width: 160px;
    height: auto;
  }
  .img-guess-result {
    width: 128px;
    height: auto;
  }
}

@media (min-width: 992px) {
  .container-dialog {
    max-width: 720px;
  }
  .img-guess-logo {
    width: 82px;
    height: auto;
  }
  .img-guess-name {
    width: 330px;
    height: auto;
  }
  .img-guess-picture {
    width: 206px;
    height: auto;
  }
  .img-guess-result {
    width: 165px;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .container-dialog {
    max-width: 600px;
  }
  .img-guess-logo {
    width: 100px;
    height: auto;
  }
  .img-guess-name {
    width: 400px;
    height: auto;
  }
  .img-guess-picture {
    width: 250px;
    height: auto;
  }
  .img-guess-result {
    width: 200px;
    height: auto;
  }
}

input.ng-dirty.ng-invalid, textarea.ng-dirty.ng-invalid {
  border: 2px solid #ff0000;
}

input.ng-dirty.ng-valid, textarea.ng-dirty.ng-valid {
  border: 2px solid #6bc502;
}
