/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/nova-light/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~font-awesome/css/font-awesome.min.css';

.container-home {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 400px;
}
.container-dialog, .container-information {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.img-home-logo {
  width: 100%;
  height: auto;
}
.img-event-type-logo {
  height: 72px;
}
.img-event-type-logo-talk {
  height: 30px;
}
.img-speaker-photo {
  max-width: 400px;
  width: 100%;
  height: auto;
}
.img-event-type-logo-list, .img-event-type-logo-table, .img-speaker-photo-table, .img-speaker-degree-table {
  height: 24px;
}
.img-speaker-degree {
  height: 30px;
}
.img-guess-logo {
  width: 48px;
  height: auto;
}
.img-guess-name-by-photo, .img-guess-talk-by-speaker-single, .img-guess-account-by-speaker {
  width: 192px;
  height: auto;
}
.img-guess-photo-by-name, .img-guess-talk-by-speaker-some, .img-guess-speaker-by-talk, .img-guess-speaker-by-account {
  width: 120px;
  height: auto;
}
.img-guess-result {
  width: 96px;
  height: auto;
}

@media (min-width: 576px) {
  .container-dialog, .container-information {
    max-width: 540px;
  }
  .img-guess-logo {
    width: 48px;
    height: auto;
  }
  .img-guess-name-by-photo, .img-guess-talk-by-speaker-single, .img-guess-account-by-speaker {
    width: 192px;
    height: auto;
  }
  .img-guess-photo-by-name, .img-guess-talk-by-speaker-some, .img-guess-speaker-by-talk, .img-guess-speaker-by-account {
    width: 120px;
    height: auto;
  }
  .img-guess-result {
    width: 96px;
    height: auto;
  }
}

@media (min-width: 768px) {
  .container-dialog, .container-information {
    max-width: 720px;
  }
  .img-guess-logo {
    width: 64px;
    height: auto;
  }
  .img-guess-name-by-photo, .img-guess-talk-by-speaker-single, .img-guess-account-by-speaker {
    width: 256px;
    height: auto;
  }
  .img-guess-photo-by-name, .img-guess-talk-by-speaker-some, .img-guess-speaker-by-talk, .img-guess-speaker-by-account {
    width: 160px;
    height: auto;
  }
  .img-guess-result {
    width: 128px;
    height: auto;
  }
}

@media (min-width: 992px) {
  .container-dialog {
    max-width: 720px;
  }
  .container-information {
    max-width: 960px;
  }
  .img-guess-logo {
    width: 82px;
    height: auto;
  }
  .img-guess-name-by-photo, .img-guess-talk-by-speaker-single, .img-guess-account-by-speaker {
    width: 330px;
    height: auto;
  }
  .img-guess-photo-by-name, .img-guess-talk-by-speaker-some, .img-guess-speaker-by-talk, .img-guess-speaker-by-account {
    width: 206px;
    height: auto;
  }
  .img-guess-result {
    width: 165px;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .container-dialog {
    max-width: 720px;
  }
  .container-information {
    max-width: 1140px;
  }
  .img-guess-logo {
    width: 100px;
    height: auto;
  }
  .img-guess-name-by-photo, .img-guess-talk-by-speaker-single, .img-guess-account-by-speaker {
    width: 400px;
    height: auto;
  }
  .img-guess-photo-by-name, .img-guess-talk-by-speaker-some, .img-guess-speaker-by-talk, .img-guess-speaker-by-account {
    width: 250px;
    height: auto;
  }
  .img-guess-result {
    width: 200px;
    height: auto;
  }
}

@media (min-width: 1400px) {
  .container-information {
    max-width: 1150px;
  }
}

@media (min-width: 1600px) {
  .container-information {
    max-width: 1300px;
  }
}

.start-listbox.ui-listbox, .start-dropdown.ui-dropdown, .search-dropdown.ui-dropdown, .search-autocomplete.ui-autocomplete,
.search-autocomplete .ui-autocomplete-input {
  width: 100%;
}

.ui-paginator {
  .ui-dropdown {
    float: left;
    line-height: normal;
  }

  .ui-paginator-current {
    float: right;
  }
}

.ui-table .ui-table-thead > tr > th {
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-table .ui-table-tbody > tr > td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
