<div class="container-dialog p-2">
  <h3 class="bg-info p-1 text-white text-center rounded">{{'start.title' | translate}}</h3>

  <app-message></app-message>

  <div class="row justify-content-end">
    <div class="col-auto">
      <button class="btn btn-link text-muted" routerLink="/home"><small>{{'common.menuLinkText' | translate}}</small></button>
    </div>
    <app-language-switcher class="col-auto"></app-language-switcher>
  </div>

  <form role="form">
    <div class="mb-3 row">
        <label for="eventType" class="form-label col-sm-2">{{'common.list.eventTypeLabel' | translate}}</label>
        <div class="col-sm-10">
          <p-listbox [multiple]="true" id="eventType" [options]="eventTypeSelectItems" [(ngModel)]="selectedEventTypes"
                     (onChange)="onEventTypeChange($event.value)" name="eventType"
                     styleClass="w-100" [listStyle]="{'height':'270px'}">
            <ng-template let-eventType pTemplate="item">
              <div #eventTypeRow [attr.id]="eventType.value.id">
                <img src="{{eventsImageDirectory}}/{{eventType.value.logoFileName}}" class="img-event-type-logo-start" alt="logo"/>
                <span class="ms-2" [class.text-muted]="isEventTypeInactiveNotSelected(eventType.value)">{{eventType.value.displayName}}</span>
              </div>
            </ng-template>
          </p-listbox>
        </div>
    </div>
    <div class="mb-3 row">
      <label for="event" class="form-label col-sm-2">{{'common.list.eventLabel' | translate}}</label>
      <div class="col-sm-10">
        <p-listbox [multiple]="true" id="event" [options]="events" [(ngModel)]="selectedEvents"
                   optionLabel="displayName" (onChange)="onEventChange($event.value)" name="event"
                   styleClass="w-100" [listStyle]="{'height':'114px'}"
                   [disabled]="isEventsDisabled()" emptyMessage="{{'common.list.emptyMessage' | translate}}"></p-listbox>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="type" class="form-label col-sm-2">{{'start.guessLabel' | translate}}</label>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-12 col-md-6 pt-1 pb-1">
            <p-radioButton id="type" name="modeRadios" value="{{guessMode.GuessNameByPhotoMode}}" label="{{'start.nameByPhotoLabel' | translate}}"
                           [(ngModel)]="selectedGuessMode" (ngModelChange)="onModeChange($event)"
                           inputId="opt1"></p-radioButton>
          </div>
          <div class="col-sm-12 col-md-6 pt-1 pb-1">
            <p-radioButton name="modeRadios" value="{{guessMode.GuessPhotoByNameMode}}" label="{{'start.photoByNameLabel' | translate}}"
                            [(ngModel)]="selectedGuessMode" (ngModelChange)="onModeChange($event)"
                            inputId="opt2"></p-radioButton>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6 pt-1 pb-1">
              <p-radioButton name="modeRadios" value="{{guessMode.GuessTalkBySpeakerMode}}" label="{{'start.talkBySpeakerLabel' | translate}}"
                            [(ngModel)]="selectedGuessMode" (ngModelChange)="onModeChange($event)"
                            inputId="opt3"></p-radioButton>
          </div>
          <div class="col-sm-12 col-md-6 pt-1 pb-1">
            <p-radioButton name="modeRadios" value="{{guessMode.GuessSpeakerByTalkMode}}" label="{{'start.speakerByTalkLabel' | translate}}"
                            [(ngModel)]="selectedGuessMode" (ngModelChange)="onModeChange($event)"
                            inputId="opt4"></p-radioButton>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6 pt-1 pb-1">
            <p-radioButton name="modeRadios" value="{{guessMode.GuessCompanyBySpeakerMode}}" label="{{'start.companyBySpeakerLabel' | translate}}"
                           [(ngModel)]="selectedGuessMode" (ngModelChange)="onModeChange($event)"
                           inputId="opt5"></p-radioButton>
          </div>
          <div class="col-sm-12 col-md-6 pt-1 pb-1">
            <p-radioButton name="modeRadios" value="{{guessMode.GuessSpeakerByCompanyMode}}" label="{{'start.speakerByCompanyLabel' | translate}}"
                           [(ngModel)]="selectedGuessMode" (ngModelChange)="onModeChange($event)"
                           inputId="opt6"></p-radioButton>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6 pt-1 pb-1">
            <p-radioButton name="modeRadios" value="{{guessMode.GuessAccountBySpeakerMode}}" label="{{'start.accountsBySpeakerLabel' | translate}}"
                           [(ngModel)]="selectedGuessMode" (ngModelChange)="onModeChange($event)"
                           inputId="opt7"></p-radioButton>
          </div>
          <div class="col-sm-12 col-md-6 pt-1 pb-1">
            <p-radioButton name="modeRadios" value="{{guessMode.GuessSpeakerByAccountMode}}" label="{{'start.speakerByAccountsLabel' | translate}}"
                           [(ngModel)]="selectedGuessMode" (ngModelChange)="onModeChange($event)"
                           inputId="opt8"></p-radioButton>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6 pt-1 pb-1">
            <p-radioButton name="modeRadios" value="{{guessMode.GuessTagCloudBySpeakerMode}}" label="{{'start.tagCloudBySpeakerLabel' | translate}}"
                           [(ngModel)]="selectedGuessMode" (ngModelChange)="onModeChange($event)"
                           inputId="opt9"></p-radioButton>
          </div>
          <div class="col-sm-12 col-md-6 pt-1 pb-1">
            <p-radioButton name="modeRadios" value="{{guessMode.GuessSpeakerByTagCloudMode}}" label="{{'start.speakerByTagCloudLabel' | translate}}"
                           [(ngModel)]="selectedGuessMode" (ngModelChange)="onModeChange($event)"
                           inputId="opt10"></p-radioButton>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-3 row align-items-center">
      <label for="quantity" class="form-label col-sm-2">{{'start.quantityLabel' | translate}}</label>
      <div class="col-sm-10">
        <p-dropdown id="quantity" [options]="quantitySelectItems" [(ngModel)]="selectedQuantity" name="quantity"
                    styleClass="w-100" [autoDisplayFirst]="false">
        </p-dropdown>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary m-1" (click)="start()"
              [class.btn-secondary]="isStartDisabled()" [disabled]="isStartDisabled()">
        {{'start.startButtonText' | translate}}
      </button>
    </div>
  </form>
</div>
