<div class="container p-2">
  <h3 class="bg-secondary p-1 text-white text-center rounded">{{'statistics.title' | translate}}</h3>

  <app-message></app-message>

  <div class="row justify-content-end">
    <div class="col-auto">
      <button class="btn btn-link text-muted" (click)="game()"><small>{{'common.gameLinkText' | translate}}</small></button>
    </div>
    <app-language-switcher (onReload)="onLanguageChange()" class="col-auto"></app-language-switcher>
  </div>

  <app-statistics-switcher [type]="'events'"></app-statistics-switcher>

  <form role="form">
    <div class="form-group row justify-content-center">
      <label for="conference" class="col-auto text-right">{{'statistics.events.conferenceLabel' | translate}}</label>
      <div class="col-auto">
        <p-dropdown [options]="conferenceSelectItems" [(ngModel)]="selectedConference" id="conference"
                    placeholder="{{'statistics.events.conferencePlaceholder' | translate}}" [showClear]="true"
                    (onChange)="onConferenceChange($event.value)" name="conference" styleClass="statistics-dropdown">
          <ng-template let-eventType pTemplate="item">
            <img src="{{eventsImageDirectory}}/{{eventType.value.logoFileName}}" height="24" alt="logo"/>
            <span class="ml-2">{{eventType.value.name}}</span>
          </ng-template>
        </p-dropdown>
      </div>
    </div>
  </form>
</div>
