<div class="container p-2">
  <h3 class="bg-secondary p-1 text-white text-center rounded">{{'statistics.title' | translate}}</h3>

  <app-message></app-message>

  <div class="row justify-content-end">
    <div class="col-auto">
      <button class="btn btn-link text-muted" (click)="game()"><small>{{'common.gameLinkText' | translate}}</small></button>
    </div>
    <app-language-switcher (onReload)="onLanguageChange()" class="col-auto"></app-language-switcher>
  </div>

  <form role="form">
    <div class="form-group row justify-content-center">
      <div class="col-auto">
        <p-checkbox name="group1" value="ABC" label="{{'statistics.eventTypes.conferencesLabel' | translate}}"
                    [(ngModel)]="conferences" binary="true"
                    (onChange)="onEventTypeKindChange($event.checked)"></p-checkbox>
      </div>
      <div class="col-auto">
        <p-checkbox name="group1" value="DEF" label="{{'statistics.eventTypes.meetupsLabel' | translate}}"
                    [(ngModel)]="meetups" binary="true"
                    (onChange)="onEventTypeKindChange($event.checked)"></p-checkbox>
      </div>
    </div>

    <p-table [value]="eventTypeMetricsList" [resizableColumns]="true" [autoLayout]="true">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th class="text-center" pResizableColumn>#</th>
          <th class="text-center" pResizableColumn>
            {{'statistics.eventTypes.table.kindColumn' | translate}}
          </th>
          <th class="text-center" [pSortableColumn]="'sortName'" pResizableColumn>
            {{'statistics.eventTypes.table.nameColumn' | translate}}
            <p-sortIcon [field]="'sortName'"></p-sortIcon>
          </th>
          <th class="text-center" [pSortableColumn]="'startDate'" pResizableColumn>
            {{'statistics.eventTypes.table.startDateColumn' | translate}}
            <p-sortIcon [field]="'startDate'"></p-sortIcon>
          </th>
          <th class="text-center" [pSortableColumn]="'age'" pResizableColumn>
            {{'statistics.eventTypes.table.ageColumn' | translate}}
            <p-sortIcon [field]="'age'"></p-sortIcon>
          </th>
          <th class="text-center" [pSortableColumn]="'duration'" pResizableColumn>
            {{'statistics.eventTypes.table.durationColumn' | translate}}
            <p-sortIcon [field]="'duration'"></p-sortIcon>
          </th>
          <th class="text-center" [pSortableColumn]="'eventsQuantity'" pResizableColumn>
            {{'statistics.eventTypes.table.eventsColumn' | translate}}
            <p-sortIcon [field]="'eventsQuantity'"></p-sortIcon>
          </th>
          <th class="text-center" [pSortableColumn]="'talksQuantity'" pResizableColumn>
            {{'statistics.eventTypes.table.talksColumn' | translate}}
            <p-sortIcon [field]="'talksQuantity'"></p-sortIcon>
          </th>
          <th class="text-center" [pSortableColumn]="'speakersQuantity'" pResizableColumn>
            {{'statistics.eventTypes.table.speakersColumn' | translate}}
            <p-sortIcon [field]="'speakersQuantity'"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-eventTypeMetrics let-i = "rowIndex">
        <tr>
          <td class="text-center">{{i + 1}}</td>
          <td>
            <span *ngIf="eventTypeMetrics.conference" pTooltip="{{'common.eventTypeKind.conference' | translate}}" tooltipPosition="bottom">
              {{'common.eventTypeKind.conference' | translate}}
            </span>
            <span *ngIf="!eventTypeMetrics.conference" pTooltip="{{'common.eventTypeKind.meetup' | translate}}" tooltipPosition="bottom">
              {{'common.eventTypeKind.meetup' | translate}}
            </span>
          </td>
          <td>
            <span pTooltip="{{eventTypeMetrics.displayName}}" tooltipPosition="bottom">
              <img src="{{eventsImageDirectory}}/{{eventTypeMetrics.logoFileName}}" height="24"/>
              <span class="ml-2">{{eventTypeMetrics.displayName}}</span>
            </span>
          </td>
          <td class="text-center">
            <span pTooltip="{{eventTypeMetrics.startDate | date:'shortDate':undefined:translateService.currentLang}}" tooltipPosition="bottom">
              {{eventTypeMetrics.startDate | date:"shortDate":undefined:translateService.currentLang}}
            </span>
          </td>
          <td class="text-center">{{eventTypeMetrics.age | number:'1.0-0':translateService.currentLang}}</td>
          <td class="text-center">{{eventTypeMetrics.duration | number:'1.0-0':translateService.currentLang}}</td>
          <td class="text-center">{{eventTypeMetrics.eventsQuantity | number:'1.0-0':translateService.currentLang}}</td>
          <td class="text-center">{{eventTypeMetrics.talksQuantity | number:'1.0-0':translateService.currentLang}}</td>
          <td class="text-center">{{eventTypeMetrics.speakersQuantity | number:'1.0-0':translateService.currentLang}}</td>
        </tr>
      </ng-template>
    </p-table>
  </form>
</div>
