<div>
  <button class="btn btn-link font-weight-bold" routerLink="/information/statistics/event-types"
          [class.text-dark]="isEventTypes()" [class.font-weight-bold]="isEventTypes()" [disabled]="isEventTypes()">
    {{'statistics.eventTypes.title' | translate}}
  </button>
  <button class="btn btn-link" routerLink="/information/statistics/events"
          [class.text-dark]="isEvents()" [class.font-weight-bold]="isEvents()" [disabled]="isEvents()">
    {{'statistics.events.title' | translate}}
  </button>
</div>
