<div class="container p-2">
  <h3 class="bg-secondary p-1 text-white text-center rounded">{{'speakers.title' | translate}}</h3>

  <app-message></app-message>

  <div class="row justify-content-end">
    <div class="col-auto">
      <button class="btn btn-link text-muted" routerLink="/home"><small>{{'common.menuLinkText' | translate}}</small></button>
    </div>
    <app-language-switcher (onReload)="onLanguageChange()" class="col-auto"></app-language-switcher>
  </div>

  <app-information-switcher [type]="'speakers'"></app-information-switcher>

  <app-speakers-switcher [type]="'list'"></app-speakers-switcher>

  <div class="m-1">
    <div>
      <button class="btn btn-link font-weight-bold" *ngFor="let enLetter of enLetters"
              (click)="changeLetter(enLetter)"
              [class.text-dark]="isCurrentLetter(enLetter)" [class.font-weight-bold]="isCurrentLetter(enLetter)"
              [disabled]="isCurrentLetter(enLetter)">
        {{enLetter}}
      </button>
    </div>
    <div *ngIf="isRuLettersVisible()">
      <button class="btn btn-link font-weight-bold" *ngFor="let ruLetter of ruLetters"
              (click)="changeLetter(ruLetter)"
              [class.text-dark]="isCurrentLetter(ruLetter)" [class.font-weight-bold]="isCurrentLetter(ruLetter)"
              [disabled]="isCurrentLetter(ruLetter)">
        {{ruLetter}}
      </button>
    </div>

    <div *ngIf="!isSpeakersLisVisible()" class="alert text-center m-2">
      {{'speakers.noSpeakersFoundText' | translate}}
    </div>

    <div *ngIf="isSpeakersLisVisible()" class="m-2">
      <table class="table-sm">
        <tbody>
        <tr *ngFor="let speaker of speakers">
          <td>
            <img src="{{speakersImageDirectory}}/{{speaker.fileName}}" height="36" alt="photo"/>
          </td>
          <td>
            {{speaker.displayName}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
