<div class="container p-2">
  <h3 class="bg-secondary p-1 text-white text-center rounded">{{'speakers.title' | translate}}</h3>

  <app-message></app-message>

  <div class="row justify-content-end">
    <div class="col-auto">
      <button class="btn btn-link text-muted" routerLink="/home"><small>{{'common.menuLinkText' | translate}}</small></button>
    </div>
    <app-language-switcher (onReload)="onLanguageChange()" class="col-auto"></app-language-switcher>
  </div>

  <app-information-switcher [type]="'speakers'"></app-information-switcher>

  <app-speakers-switcher [type]="'search'"></app-speakers-switcher>

  <form role="form" class="m-3">
    <div class="form-group row justify-content-center">
      <label for="name" class="col-sm-2">{{'speakers.search.nameLabel' | translate}}</label>
      <div class="col-sm-4">
        <input type="text" id="name" pInputText class="form-control" [(ngModel)]="name" name="name"/>
      </div>
      <label for="company" class="col-sm-2">{{'speakers.search.companyLabel' | translate}}</label>
      <div class="col-sm-4">
        <input type="text" id="company" pInputText class="form-control" [(ngModel)]="company" name="company"/>
      </div>
    </div>
    <div class="form-group row justify-content-center">
      <label for="twitter" class="col-sm-2">{{'speakers.search.twitterLabel' | translate}}</label>
      <div class="col-sm-4">
        <input type="text" id="twitter" pInputText class="form-control" [(ngModel)]="twitter" name="twitter"/>
      </div>
      <label for="gitHub" class="col-sm-2">{{'speakers.search.gitHubLabel' | translate}}</label>
      <div class="col-sm-4">
        <input type="text" id="gitHub" pInputText class="form-control" [(ngModel)]="gitHub" name="gitHub"/>
      </div>
    </div>
    <div class="form-group row justify-content-center">
      <div class="col-auto">
        <p-checkbox name="group1" value="conferences" label="{{'speakers.search.javaChampionLabel' | translate}}"
                    [(ngModel)]="isJavaChampion" binary="true"
                    (onChange)="onJavaChampionChange($event.checked)"></p-checkbox>
      </div>
      <div class="col-auto">
        <p-checkbox name="group1" value="meetups" label="{{'speakers.search.mvpLabel' | translate}}"
                    [(ngModel)]="isMvp" binary="true"
                    (onChange)="onMvpChange($event.checked)"></p-checkbox>
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-primary m-1" (click)="search()">{{'speakers.search.searchButtonText' | translate}}</button>
      <button class="btn btn-secondary m-1" (click)="clear()">{{'speakers.search.clearButtonText' | translate}}</button>
    </div>
  </form>
</div>
