<div class="container-information p-2">
  <h3 class="bg-secondary p-1 text-white text-center rounded">{{'speakers.title' | translate}}</h3>

  <app-message></app-message>

  <app-information-menubar></app-information-menubar>
  <app-speakers-tabmenu></app-speakers-tabmenu>

  <div class="mt-3 mb-1 ml-1 mr-1">
    <div>
      <button class="btn btn-link btn-sm-condensed remove-focus" *ngFor="let enLetter of enLetters"
              (click)="changeLetter(enLetter)"
              [class.text-dark]="isCurrentLetter(enLetter)" [class.fw-bold]="isCurrentLetter(enLetter)"
              [disabled]="isCurrentLetter(enLetter)">
        {{enLetter}}
      </button>
    </div>
    <div *ngIf="isRuLettersVisible()">
      <button class="btn btn-link btn-sm-condensed remove-focus" *ngFor="let ruLetter of ruLetters"
              (click)="changeLetter(ruLetter)"
              [class.text-dark]="isCurrentLetter(ruLetter)" [class.fw-bold]="isCurrentLetter(ruLetter)"
              [disabled]="isCurrentLetter(ruLetter)">
        {{ruLetter}}
      </button>
    </div>

    <div *ngIf="!isSpeakersListVisible()" class="alert text-center m-2">
      {{'speakers.noSpeakersFoundText' | translate}}
    </div>

    <div *ngIf="isSpeakersListVisible()" class="m-2">
      <p-table [value]="speakers" [resizableColumns]="true" [autoLayout]="true"
               [rows]="15" [rowsPerPageOptions]="[5,10,15,25,50]" [paginator]="true"
               [showCurrentPageReport]="true" [alwaysShowPaginator]="false" [(first)]="paginatorFirst"
               currentPageReportTemplate="{{'common.table.paginator.currentPageReportTemplate' | translate}}"
               styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines" responsiveLayout="scroll">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th class="text-center" pResizableColumn>#</th>
            <th class="text-center" pResizableColumn>
              {{'speakers.table.nameColumn' | translate}}
            </th>
            <th class="text-center" pResizableColumn>
              {{'speakers.table.companyColumn' | translate}}
            </th>
            <th class="text-center" pResizableColumn>
              {{'speakers.table.twitterColumn' | translate}}
            </th>
            <th class="text-center" pResizableColumn>
              {{'speakers.table.gitHubColumn' | translate}}
            </th>
            <th class="text-center" pResizableColumn>
              {{'speakers.table.habrColumn' | translate}}
            </th>
            <th class="text-center" pResizableColumn>
              {{'speakers.table.javaChampionColumn' | translate}}
            </th>
            <th class="text-center" pResizableColumn>
              {{'speakers.table.mvpColumn' | translate}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-speaker let-i = "rowIndex">
          <tr>
            <td class="text-center">{{i + 1}}</td>
            <td>
              <a [routerLink]="['/information', 'speaker', speaker.id]" class="text-dark">
                <img src="{{speakersImageDirectory}}/{{speaker.photoFileName}}" class="img-speaker-photo-table" alt="photo"/>
                <span class="ms-2">{{speaker.displayName}}</span>
              </a>
            </td>
            <td>
              <span *ngFor="let company of speaker.companies; last as isLast">
                <a [routerLink]="['/information', 'company', company.id]" class="text-dark">{{company.name}}</a>
                <span *ngIf="!isLast">, </span>
              </span>
            </td>
            <td>
              <a *ngIf="speaker.twitter" href="{{twitterUrlPrefix}}/{{speaker.twitter}}" class="text-primary">
                <i class="fab fa-twitter"></i>{{speaker.twitter}}
              </a>
            </td>
            <td>
              <a *ngIf="speaker.gitHub" href="{{gitHubUrlPrefix}}/{{speaker.gitHub}}" class="text-dark">
                <i class="fab fa-github"></i>{{speaker.gitHub}}
              </a>
            </td>
            <td>
              <a *ngIf="speaker.habr" href="{{habrUrlPrefix}}/{{speaker.habr}}" class="text-habr">
                <i class="fas fa-h-square"></i>{{speaker.habr}}
              </a>
            </td>
            <td class="text-center">
              <img *ngIf="speaker.javaChampion" src="{{degreesImageDirectory}}/java-champion.png" class="img-speaker-degree-table" alt="java-champion"/>
            </td>
            <td class="text-center">
              <img *ngIf="speaker.mvp" src="{{degreesImageDirectory}}/mvp.png" class="img-speaker-degree-table" alt="mvp"/>
              <img *ngIf="speaker.mvpReconnect" src="{{degreesImageDirectory}}/mvp-reconnect.png" class="img-speaker-degree-table" alt="mvp-reconnect"/>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
