<div class="container p-2">
  <h3 class="bg-secondary p-1 text-white text-center rounded">{{'speaker.title' | translate}}</h3>

  <app-message></app-message>

  <div class="row justify-content-end">
    <div class="col-auto">
      <button class="btn btn-link text-muted" routerLink="/home"><small>{{'common.menuLinkText' | translate}}</small></button>
    </div>
    <app-language-switcher (onReload)="onLanguageChange()" class="col-auto"></app-language-switcher>
  </div>

  <app-information-switcher [type]="'speakers'"></app-information-switcher>

  <app-speakers-switcher [type]="'speaker'"></app-speakers-switcher>

  <div class="m-1">
    <div class="m-2">
      <div class="row align-items-center">
        <span class="col-auto h3">{{speakerDetails.speaker.name}}</span>
        <span class="col-auto font-italic">{{speakerDetails.speaker.company}}</span>
      </div>

      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 mt-1">
          <img src="{{speakersImageDirectory}}/{{speakerDetails.speaker.fileName}}" alt="{{speakerDetails.speaker.name}}"
               class="img-speaker">
        </div>
        <div *ngIf="speakerDetails.speaker.bio" class="col-12 col-sm-6 col-md-8 mt-1">
          <markdown [data]='speakerDetails.speaker.bio'></markdown>
        </div>
      </div>

      <div *ngIf="speakerDetails.speaker.javaChampion || speakerDetails.speaker.anyMvp || speakerDetails.speaker.twitter || speakerDetails.speaker.gitHub"
           class="row align-items-center mt-1">
        <div *ngIf="speakerDetails.speaker.javaChampion" class="col-auto">
          <img src="{{degreesImageDirectory}}/java-champion.png" height="36" alt="java-champion"/>
        </div>
        <div *ngIf="speakerDetails.speaker.anyMvp" class="col-auto">
          <img *ngIf="speakerDetails.speaker.mvp" src="{{degreesImageDirectory}}/mvp.png" height="36" alt="mvp"/>
          <img *ngIf="speakerDetails.speaker.mvpReconnect" src="{{degreesImageDirectory}}/mvp-reconnect.png" height="24" alt="mvp-reconnect"/>
        </div>
        <div *ngIf="speakerDetails.speaker.twitter" class="col-auto">
          <a href="{{twitterUrlPrefix}}/{{speakerDetails.speaker.twitter}}" class="text-primary">
            <i class="fa fa-twitter"></i>{{speakerDetails.speaker.twitter}}
          </a>
        </div>
        <div *ngIf="speakerDetails.speaker.gitHub" class="col-auto">
          <a href="{{gitHubUrlPrefix}}/{{speakerDetails.speaker.gitHub}}" class="text-dark">
            <i class="fa fa-github"></i>{{speakerDetails.speaker.gitHub}}
          </a>
        </div>
      </div>
    </div>

    <div *ngIf="isTalksListVisible()" class="m-2">
      <h4>{{'speaker.table.title' | translate}}</h4>
      <p-table [value]="speakerDetails.talks" [resizableColumns]="true" [autoLayout]="true"
               [rows]="10" [rowsPerPageOptions]="[5,10,15,25,50]" [paginator]="true"
               [showCurrentPageReport]="true" [alwaysShowPaginator]="false"
               currentPageReportTemplate="{{'common.table.paginator.currentPageReportTemplate' | translate}}"
               sortMode="multiple" [multiSortMeta]="multiSortMeta">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th class="text-center" pResizableColumn>#</th>
            <th class="text-center" [pSortableColumn]="'eventName'" pResizableColumn>
              {{'speaker.table.eventColumn' | translate}}
              <p-sortIcon [field]="'eventName'"></p-sortIcon>
            </th>
            <th class="text-center" [pSortableColumn]="'talkDate'" pResizableColumn>
              {{'speaker.table.talkDateColumn' | translate}}
              <p-sortIcon [field]="'talkDate'"></p-sortIcon>
            </th>
            <th class="text-center" [pSortableColumn]="'name'" pResizableColumn>
              {{'speaker.table.nameColumn' | translate}}
              <p-sortIcon [field]="'name'"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-talk let-i = "rowIndex">
          <tr>
            <td class="text-center">{{i + 1}}</td>
            <td>
              <img src="{{eventsImageDirectory}}/{{talk.eventTypeLogoFileName}}" height="24" alt="logo"/>
              <span class="ml-2">{{talk.eventName}}</span>
            </td>
            <td class="text-center">{{talk.talkDate | date:"shortDate":undefined:translateService.currentLang}}</td>
            <td>{{talk.name}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
