<div class="container-information p-2">
  <h3 class="bg-secondary p-1 text-white text-center rounded">{{'speaker.title' | translate}}</h3>

  <app-message></app-message>

  <app-information-menubar [type]="'speakers'"></app-information-menubar>
  <app-speakers-tabmenu [id]="id"></app-speakers-tabmenu>

  <div class="mt-3 mb-1 ml-1 mr-1">
    <div class="m-2">
      <div class="row align-items-center">
        <span class="col-auto h4">{{speakerDetails.speaker?.name}}</span>
        <span class="col-auto font-italic" *ngIf="speakerDetails.speaker?.companies">
          <span *ngFor="let company of speakerDetails.speaker.companies; last as isLast">
            <a [routerLink]="['/information', 'company', company.id]" class="text-dark">{{company.name}}</a>
            <span *ngIf="!isLast">, </span>
          </span>
        </span>
      </div>

      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 mt-1">
          <img *ngIf="speakerDetails.speaker?.photoFileName" class="img-speaker-photo"
               src="{{speakersImageDirectory}}/{{speakerDetails.speaker.photoFileName}}" alt="{{speakerDetails.speaker?.name}}">
        </div>
        <div *ngIf="speakerDetails.speaker?.bio" class="col-12 col-sm-6 col-md-8 mt-1">
          <markdown [data]='speakerDetails.speaker.bio'></markdown>
        </div>
      </div>

      <div *ngIf="isSocialsVisible()" class="row align-items-center mt-1">
        <div *ngIf="speakerDetails.speaker?.javaChampion" class="col-auto">
          <img src="{{degreesImageDirectory}}/java-champion.png" class="img-speaker-degree" alt="java-champion"/>
        </div>
        <div *ngIf="speakerDetails.speaker?.anyMvp" class="col-auto">
          <img *ngIf="speakerDetails.speaker?.mvp" src="{{degreesImageDirectory}}/mvp.png" class="img-speaker-degree" alt="mvp"/>
          <img *ngIf="speakerDetails.speaker?.mvpReconnect" src="{{degreesImageDirectory}}/mvp-reconnect.png" class="img-speaker-degree" alt="mvp-reconnect"/>
        </div>
        <div *ngIf="speakerDetails.speaker?.twitter" class="col-auto">
          <a href="{{twitterUrlPrefix}}/{{speakerDetails.speaker.twitter}}" class="text-primary">
            <i class="fab fa-twitter"></i>{{speakerDetails.speaker.twitter}}
          </a>
        </div>
        <div *ngIf="speakerDetails.speaker?.gitHub" class="col-auto">
          <a href="{{gitHubUrlPrefix}}/{{speakerDetails.speaker.gitHub}}" class="text-dark">
            <i class="fab fa-github"></i>{{speakerDetails.speaker.gitHub}}
          </a>
        </div>
        <div *ngIf="speakerDetails.speaker?.habr" class="col-auto">
          <a href="{{habrUrlPrefix}}/{{speakerDetails.speaker.habr}}" class="text-habr">
            <i class="fas fa-h-square"></i>{{speakerDetails.speaker.habr}}
          </a>
        </div>
      </div>
    </div>

    <div *ngIf="isTalksListVisible()" class="m-2">
      <h5>{{'talks.table.title' | translate}}</h5>
      <p-table [value]="speakerDetails.talks" [resizableColumns]="true" [autoLayout]="true"
               [rows]="10" [rowsPerPageOptions]="[5,10,15,25,50]" [paginator]="true"
               [showCurrentPageReport]="true" [alwaysShowPaginator]="false"
               currentPageReportTemplate="{{'common.table.paginator.currentPageReportTemplate' | translate}}"
               sortMode="multiple" [multiSortMeta]="multiSortMeta" styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines"
               responsiveLayout="scroll">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th class="text-center" pResizableColumn>#</th>
            <th class="text-center" [pSortableColumn]="'event.name'" pResizableColumn>
              {{'talks.table.eventColumn' | translate}}
              <p-sortIcon [field]="'event.name'"></p-sortIcon>
            </th>
            <th class="text-center" [pSortableColumn]="'talkDate'" pResizableColumn>
              {{'talks.table.talkDateColumn' | translate}}
              <p-sortIcon [field]="'talkDate'"></p-sortIcon>
            </th>
            <th class="text-center" [pSortableColumn]="'name'" pResizableColumn>
              {{'talks.table.nameColumn' | translate}}
              <p-sortIcon [field]="'name'"></p-sortIcon>
            </th>
            <th class="text-center" [pSortableColumn]="'speakersString'" pResizableColumn>
              {{'talks.table.speakersColumn' | translate}}
              <p-sortIcon [field]="'speakersString'"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-talk let-i = "rowIndex">
          <tr>
            <td class="text-center">{{i + 1}}</td>
            <td>
              <a [routerLink]="['/information', 'event', talk.event?.id]" class="text-dark">
                <img src="{{eventsImageDirectory}}/{{talk.eventTypeLogoFileName}}" class="img-event-type-logo-table" alt="logo"/>
                <span class="ms-2">{{talk.event?.name}}</span>
              </a>
            </td>
            <td class="text-center">{{talk.talkDate | date:"shortDate":undefined:translateService.currentLang}}</td>
            <td>
              <a [routerLink]="['/information', 'talk', talk.id]" class="text-dark">{{talk.name}}</a>
            </td>
            <td>
              <span *ngFor="let speaker of talk.speakers; let i = index">
                <span *ngIf="i > 0">, </span><a [routerLink]="['/information', 'speaker', speaker.id]" class="text-dark">{{speaker.displayName}}</a>
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
