<div>
  <button class="btn btn-link" routerLink="/information/event-types"
          [class.text-dark]="isEventTypes()" [class.font-weight-bold]="isEventTypes()" [disabled]="isEventTypes()">
    {{'eventTypes.title' | translate}}
  </button>
  <button class="btn btn-link" routerLink="/information/events"
          [class.text-dark]="isEvents()" [class.font-weight-bold]="isEvents()" [disabled]="isEvents()">
    {{'events.title' | translate}}
  </button>
  <button class="btn btn-link" routerLink="/information/talks"
          [class.text-dark]="isTalks()" [class.font-weight-bold]="isTalks()" [disabled]="isTalks()">
    {{'talks.title' | translate}}
  </button>
  <button class="btn btn-link" routerLink="/information/speakers"
          [class.text-dark]="isSpeakers()" [class.font-weight-bold]="isSpeakers()" [disabled]="isSpeakers()">
    {{'speakers.title' | translate}}
  </button>
  <button class="btn btn-link" routerLink="/information/companies"
          [class.text-dark]="isCompanies()" [class.font-weight-bold]="isCompanies()" [disabled]="isCompanies()">
    {{'companies.title' | translate}}
  </button>
  <button class="btn btn-link" routerLink="/information/statistics"
          [class.text-dark]="isStatistics()" [class.font-weight-bold]="isStatistics()" [disabled]="isStatistics()">
    {{'statistics.title' | translate}}
  </button>
</div>
