<div class="container p-2">
  <h3 class="bg-info p-1 text-white text-center">{{title}}</h3>

  <app-message></app-message>

  <div class="row">
    <div class="col-sm">
      <img *ngIf="logoImageSource" src="{{logoImageSource}}" alt="" class="img-guess-logo">
    </div>
    <app-language-switcher (onReload)="loadQuestion()" class="col-sm"></app-language-switcher>
  </div>

  <div class="text-center mb-1">
    <figure class="figure">
      <img src="{{imageSource}}" alt="" class="figure-img img-thumbnail img-guess-talk">
      <figcaption class="figure-caption text-center">{{speakerTalks.speakerName}}</figcaption>
    </figure>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary btn-block" [class.btn-danger]="speakerTalks.invalid0" [disabled]="speakerTalks.invalid0"
            (click)="answer(speakerTalks.id0)">{{speakerTalks.talkName0}}</button>
    <button type="submit" class="btn btn-primary btn-block" [class.btn-danger]="speakerTalks.invalid1" [disabled]="speakerTalks.invalid1"
            (click)="answer(speakerTalks.id1)">{{speakerTalks.talkName1}}</button>
    <button type="submit" class="btn btn-primary btn-block" [class.btn-danger]="speakerTalks.invalid2" [disabled]="speakerTalks.invalid2"
            (click)="answer(speakerTalks.id2)">{{speakerTalks.talkName2}}</button>
    <button type="submit" class="btn btn-primary btn-block" [class.btn-danger]="speakerTalks.invalid3" [disabled]="speakerTalks.invalid3"
            (click)="answer(speakerTalks.id3)">{{speakerTalks.talkName3}}</button>
  </div>
  <div class="text-right mt-1">
    <button class="btn btn-link text-muted" (click)="cancel()"><small>{{'common.cancelLinkText' | translate}}</small></button>
  </div>
</div>
