<div class="container-dialog p-2">
  <h3 class="bg-info p-1 text-white text-center">{{title}}</h3>

  <app-message></app-message>

  <div class="text-center">
    <img src="{{pictureNames.fileName}}" alt="" height="300pt" width="300pt" class="img-thumbnail mt-4 mb-4">
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary m-2" (click)="answer()">{{pictureNames.name0}}</button>
    <button type="submit" class="btn btn-primary m-2" (click)="answer()">{{pictureNames.name1}}</button>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary m-2" (click)="answer()">{{pictureNames.name2}}</button>
    <button type="submit" class="btn btn-primary m-2" (click)="answer()">{{pictureNames.name3}}</button>
  </div>
</div>
