<div class="container p-2">
  <h2 class="bg-info p-1 text-white text-center">{{title}}</h2>

  <app-message></app-message>

  <div class="row">
    <div class="col-sm">
      <img *ngIf="logoImageSource" src="{{logoImageSource}}" alt="" class="img-guess-logo">
    </div>
    <app-language-switcher (onReload)="loadQuestion()" class="col-sm"></app-language-switcher>
  </div>

  <div class="text-center mb-5">
    <img src="{{imageSource}}" alt="" class="img-thumbnail img-guess-name">
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary m-1" [class.btn-danger]="pictureNames.invalid0" [disabled]="pictureNames.invalid0"
            (click)="answer(pictureNames.id0)">{{pictureNames.name0}}</button>
    <button type="submit" class="btn btn-primary m-1" [class.btn-danger]="pictureNames.invalid1" [disabled]="pictureNames.invalid1"
            (click)="answer(pictureNames.id1)">{{pictureNames.name1}}</button>
    <button type="submit" class="btn btn-primary m-1" [class.btn-danger]="pictureNames.invalid2" [disabled]="pictureNames.invalid2"
            (click)="answer(pictureNames.id2)">{{pictureNames.name2}}</button>
    <button type="submit" class="btn btn-primary m-1" [class.btn-danger]="pictureNames.invalid3" [disabled]="pictureNames.invalid3"
            (click)="answer(pictureNames.id3)">{{pictureNames.name3}}</button>
  </div>
  <div class="text-right mt-1">
    <button class="btn btn-link text-muted" (click)="cancel()"><small>{{'common.cancelLinkText' | translate}}</small></button>
  </div>
</div>
