<div class="container p-2">
  <h2 class="bg-info p-1 text-white text-center">{{title}}</h2>

  <app-message></app-message>

  <img *ngIf="logoImageSource" src="{{logoImageSource}}" alt="" class="img-guess-logo">
  <div class="text-center mb-5" [class.mt-5]="!logoImageSource">
    <figure class="figure">
      <img src="{{imageSource}}" alt="" class="img-thumbnail img-guess-talk">
      <figcaption class="figure-caption text-center">{{speakerTalks.speakerName}}</figcaption>
    </figure>
  </div>
  <!-- TODO: implement -->
  <div class="text-right mt-1">
    <button class="btn btn-link text-muted" (click)="cancel()"><small>Cancel</small></button>
  </div>
</div>
