<div class="text-end mt-2 mb-2">
  <div class="btn-group">
    <input type="radio" class="btn-check remove-focus" name="options" id="en" value="{{language.English}}"
           [(ngModel)]="selectedLanguage" (ngModelChange)="onLanguageChange($event)" autocomplete="off" [checked]="isEnChecked()">
    <label class="btn btn-light btn-sm" for="en">EN</label>

    <input type="radio" class="btn-check remove-focus" name="options" id="ru" value="{{language.Russian}}"
           [(ngModel)]="selectedLanguage" (ngModelChange)="onLanguageChange($event)" autocomplete="off" [checked]="isRuChecked()">
    <label class="btn btn-light btn-sm" for="ru">RU</label>
  </div>
</div>
