<div class="container-information p-2">
  <h3 class="bg-secondary p-1 text-white text-center rounded">{{'statistics.title' | translate}}</h3>

  <app-message></app-message>

  <div class="row justify-content-end">
    <div class="col-auto">
      <button class="btn btn-link text-muted" routerLink="/home"><small>{{'common.menuLinkText' | translate}}</small></button>
    </div>
    <app-language-switcher (reload)="onLanguageChange()" class="col-auto"></app-language-switcher>
  </div>

  <app-information-switcher [type]="'statistics'"></app-information-switcher>

  <app-statistics-switcher [type]="'eventTypes'"></app-statistics-switcher>

  <div class="m-1">
    <form role="form" class="m-2">
      <div class="mb-3 row justify-content-center">
        <div class="col-auto">
          <p-checkbox name="group1" value="conferences" label="{{'common.checkbox.conferencesLabel' | translate}}"
                      [(ngModel)]="isConferences" binary="true"
                      (onChange)="onEventTypeKindChange()"></p-checkbox>
        </div>
        <div class="col-auto">
          <p-checkbox name="group1" value="meetups" label="{{'common.checkbox.meetupsLabel' | translate}}"
                      [(ngModel)]="isMeetups" binary="true"
                      (onChange)="onEventTypeKindChange()"></p-checkbox>
        </div>
      </div>
      <div class="mb-3 row justify-content-center align-items-center">
        <label for="organizer" class="form-label col-12 col-sm-auto text-sm-end">{{'common.list.organizerLabel' | translate}}</label>
        <div class="col-12 col-sm-auto">
          <p-dropdown [options]="organizerSelectItems" [(ngModel)]="selectedOrganizer" id="organizer"
                      placeholder="{{'common.list.organizerPlaceholder' | translate}}" [showClear]="true"
                      (onChange)="onOrganizerChange($event.value)" name="organizer" styleClass="organizer-dropdown w-100">
            <ng-template let-organizer pTemplate="item">
              {{organizer.value.name}}
            </ng-template>
          </p-dropdown>
        </div>
      </div>
    </form>

    <div *ngIf="isNoEventTypesDataFoundVisible()" class="alert text-center m-2">
      {{'statistics.eventTypes.noEventTypesDataFoundText' | translate}}
    </div>

    <div *ngIf="isEventTypesListVisible()" class="m-2">
      <p-table [value]="eventTypeStatistics.eventTypeMetricsList" [resizableColumns]="true" [autoLayout]="true"
               sortMode="multiple" [multiSortMeta]="multiSortMeta" styleClass="p-datatable-striped"
               responsiveLayout="scroll">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th class="text-center" pResizableColumn>#</th>
            <th class="text-center" pResizableColumn>
              {{'statistics.eventTypes.table.kindColumn' | translate}}
            </th>
            <th class="text-center" pResizableColumn>
              {{'statistics.eventTypes.table.organizerNameColumn' | translate}}
            </th>
            <th class="text-center" [pSortableColumn]="'sortName'" pResizableColumn>
              {{'statistics.eventTypes.table.nameColumn' | translate}}
              <p-sortIcon [field]="'sortName'"></p-sortIcon>
            </th>
            <th class="text-center" [pSortableColumn]="'startDate'" pResizableColumn>
              {{'statistics.eventTypes.table.startDateColumn' | translate}}
              <p-sortIcon [field]="'startDate'"></p-sortIcon>
            </th>
            <th class="text-center" [pSortableColumn]="'age'" pResizableColumn>
              {{'statistics.eventTypes.table.ageColumn' | translate}}
              <p-sortIcon [field]="'age'"></p-sortIcon>
            </th>
            <th class="text-center" [pSortableColumn]="'duration'" pResizableColumn>
              {{'statistics.eventTypes.table.durationColumn' | translate}}
              <p-sortIcon [field]="'duration'"></p-sortIcon>
            </th>
            <th class="text-center" [pSortableColumn]="'eventsQuantity'" pResizableColumn>
              {{'statistics.eventTypes.table.eventsColumn' | translate}}
              <p-sortIcon [field]="'eventsQuantity'"></p-sortIcon>
            </th>
            <th class="text-center" [pSortableColumn]="'talksQuantity'" pResizableColumn>
              {{'statistics.eventTypes.table.talksColumn' | translate}}
              <p-sortIcon [field]="'talksQuantity'"></p-sortIcon>
            </th>
            <th class="text-center" [pSortableColumn]="'speakersQuantity'" pResizableColumn>
              {{'statistics.eventTypes.table.speakersColumn' | translate}}
              <p-sortIcon [field]="'speakersQuantity'"></p-sortIcon>
            </th>
            <th class="text-center" [pSortableColumn]="'javaChampionsQuantity'" pResizableColumn>
              {{'statistics.eventTypes.table.javaChampionsColumn' | translate}}
              <p-sortIcon [field]="'javaChampionsQuantity'"></p-sortIcon>
            <th class="text-center" [pSortableColumn]="'mvpsQuantity'" pResizableColumn>
              {{'statistics.eventTypes.table.mvpsColumn' | translate}}
              <p-sortIcon [field]="'mvpsQuantity'"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-eventTypeMetrics let-i = "rowIndex">
          <tr>
            <td class="text-center">{{i + 1}}</td>
            <td>
              <span *ngIf="eventTypeMetrics.conference">
                {{'common.eventTypeKind.conference' | translate}}
              </span>
              <span *ngIf="!eventTypeMetrics.conference">
                {{'common.eventTypeKind.meetup' | translate}}
              </span>
            </td>
            <td>{{eventTypeMetrics.organizerName}}</td>
            <td>
              <a [routerLink]="['/information', 'event-type', eventTypeMetrics.id]" class="text-dark">
                <img src="{{eventsImageDirectory}}/{{eventTypeMetrics.logoFileName}}" class="img-event-type-logo-table" alt="logo"/>
                <span class="ms-2">{{eventTypeMetrics.displayName}}</span>
              </a>
            </td>
            <td class="text-center">{{eventTypeMetrics.startDate | date:"shortDate":undefined:translateService.currentLang}}</td>
            <td class="text-center">{{eventTypeMetrics.age | number:'1.0-0':translateService.currentLang}}</td>
            <td class="text-center">{{eventTypeMetrics.duration | number:'1.0-0':translateService.currentLang}}</td>
            <td class="text-center">{{eventTypeMetrics.eventsQuantity | number:'1.0-0':translateService.currentLang}}</td>
            <td class="text-center">{{eventTypeMetrics.talksQuantity | number:'1.0-0':translateService.currentLang}}</td>
            <td class="text-center">{{eventTypeMetrics.speakersQuantity | number:'1.0-0':translateService.currentLang}}</td>
            <td class="text-center">{{eventTypeMetrics.javaChampionsQuantity | number:'1.0-0':translateService.currentLang}}</td>
            <td class="text-center">{{eventTypeMetrics.mvpsQuantity | number:'1.0-0':translateService.currentLang}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td colspan="4">{{'common.table.totalsText' | translate}}</td>
            <td class="text-center">{{eventTypeStatistics.totals?.startDate | date:"shortDate":undefined:translateService.currentLang}}</td>
            <td class="text-center">{{eventTypeStatistics.totals?.age | number:'1.0-0':translateService.currentLang}}</td>
            <td class="text-center">{{eventTypeStatistics.totals?.duration | number:'1.0-0':translateService.currentLang}}</td>
            <td class="text-center">{{eventTypeStatistics.totals?.eventsQuantity | number:'1.0-0':translateService.currentLang}}</td>
            <td class="text-center">{{eventTypeStatistics.totals?.talksQuantity | number:'1.0-0':translateService.currentLang}}</td>
            <td class="text-center">{{eventTypeStatistics.totals?.speakersQuantity | number:'1.0-0':translateService.currentLang}}</td>
            <td class="text-center">{{eventTypeStatistics.totals?.javaChampionsQuantity | number:'1.0-0':translateService.currentLang}}</td>
            <td class="text-center">{{eventTypeStatistics.totals?.mvpsQuantity | number:'1.0-0':translateService.currentLang}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
