<div class="container-information p-2">
  <h3 class="bg-secondary p-1 text-white text-center rounded">{{'statistics.title' | translate}}</h3>

  <app-message></app-message>

  <div class="row justify-content-end">
    <div class="col-auto">
      <button class="btn btn-link text-muted" routerLink="/home"><small>{{'common.menuLinkText' | translate}}</small></button>
    </div>
    <app-language-switcher (reload)="onLanguageChange()" class="col-auto"></app-language-switcher>
  </div>

  <app-information-switcher [type]="'statistics'"></app-information-switcher>

  <app-statistics-switcher [type]="'events'"></app-statistics-switcher>

  <div class="m-1">
    <form role="form" class="m-2">
      <div class="mb-3 row justify-content-center align-items-center">
        <label for="organizer" class="form-label col-12 col-sm-3 col-md-auto text-md-end">{{'common.list.organizerLabel' | translate}}</label>
        <div class="col-12 col-sm-9 col-md-auto">
          <p-dropdown [options]="organizerSelectItems" [(ngModel)]="selectedOrganizer" id="organizer"
                      placeholder="{{'common.list.organizerPlaceholder' | translate}}" [showClear]="true"
                      (onChange)="onOrganizerChange()" name="organizer" styleClass="organizer-dropdown w-100">
            <ng-template let-organizer pTemplate="item">
              {{organizer.value.name}}
            </ng-template>
          </p-dropdown>
        </div>
        <label for="conference" class="form-label col-12 col-sm-3 col-md-auto text-md-end mt-3 mt-md-0">{{'statistics.events.conferenceLabel' | translate}}</label>
        <div class="col-12 col-sm-9 col-md-auto mt-sm-3 mt-md-0">
          <p-dropdown [options]="conferenceSelectItems" [(ngModel)]="selectedConference" id="conference"
                      placeholder="{{'statistics.events.conferencePlaceholder' | translate}}" [showClear]="true"
                      (onChange)="onConferenceChange($event.value)" name="conference" styleClass="event-type-dropdown w-100"
                      emptyMessage="{{'common.list.emptyMessage' | translate}}">
            <ng-template let-eventType pTemplate="item">
              <img src="{{eventsImageDirectory}}/{{eventType.value.logoFileName}}" class="img-event-type-logo-list" alt="logo"/>
              <span class="ms-2">{{eventType.value.name}}</span>
            </ng-template>
          </p-dropdown>
        </div>
      </div>
    </form>

    <div *ngIf="isNoEventsFoundVisible()" class="alert text-center m-2">
      {{'statistics.events.noEventsDataFoundText' | translate}}
    </div>

    <div *ngIf="isEventsListVisible()" class="m-2">
      <p-table [value]="eventStatistics.eventMetricsList" [resizableColumns]="true" [autoLayout]="true"
               [rows]="15" [rowsPerPageOptions]="[5,10,15,25,50]" [paginator]="true"
               [showCurrentPageReport]="true" [alwaysShowPaginator]="false"
               currentPageReportTemplate="{{'common.table.paginator.currentPageReportTemplate' | translate}}"
               sortMode="multiple" [multiSortMeta]="multiSortMeta" styleClass="p-datatable-striped"
               responsiveLayout="scroll">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th class="text-center" pResizableColumn>#</th>
            <th class="text-center" [pSortableColumn]="'name'" pResizableColumn>
              {{'statistics.events.table.nameColumn' | translate}}
              <p-sortIcon [field]="'name'"></p-sortIcon>
            </th>
            <th class="text-center" [pSortableColumn]="'startDate'" pResizableColumn>
              {{'statistics.events.table.startDateColumn' | translate}}
              <p-sortIcon [field]="'startDate'"></p-sortIcon>
            </th>
            <th class="text-center" [pSortableColumn]="'duration'" pResizableColumn>
              {{'statistics.events.table.durationColumn' | translate}}
              <p-sortIcon [field]="'duration'"></p-sortIcon>
            </th>
            <th class="text-center" [pSortableColumn]="'talksQuantity'" pResizableColumn>
              {{'statistics.events.table.talksColumn' | translate}}
              <p-sortIcon [field]="'talksQuantity'"></p-sortIcon>
            </th>
            <th class="text-center" [pSortableColumn]="'speakersQuantity'" pResizableColumn>
              {{'statistics.events.table.speakersColumn' | translate}}
              <p-sortIcon [field]="'speakersQuantity'"></p-sortIcon>
            </th>
            <th class="text-center" [pSortableColumn]="'javaChampionsQuantity'" pResizableColumn>
              {{'statistics.events.table.javaChampionsColumn' | translate}}
              <p-sortIcon [field]="'javaChampionsQuantity'"></p-sortIcon>
            <th class="text-center" [pSortableColumn]="'mvpsQuantity'" pResizableColumn>
              {{'statistics.events.table.mvpsColumn' | translate}}
              <p-sortIcon [field]="'mvpsQuantity'"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-eventMetrics let-i = "rowIndex">
          <tr>
            <td class="text-center">{{i + 1}}</td>
            <td>
              <a [routerLink]="['/information', 'event', eventMetrics.id]" class="text-dark">
                <img src="{{eventsImageDirectory}}/{{eventMetrics.eventTypeLogoFileName}}" class="img-event-type-logo-table" alt="logo"/>
                <span class="ms-2">{{eventMetrics.name}}</span>
              </a>
            </td>
            <td class="text-center">{{eventMetrics.startDate | date:"shortDate":undefined:translateService.currentLang}}</td>
            <td class="text-center">{{eventMetrics.duration | number:'1.0-0':translateService.currentLang}}</td>
            <td class="text-center">{{eventMetrics.talksQuantity | number:'1.0-0':translateService.currentLang}}</td>
            <td class="text-center">{{eventMetrics.speakersQuantity | number:'1.0-0':translateService.currentLang}}</td>
            <td class="text-center">{{eventMetrics.javaChampionsQuantity | number:'1.0-0':translateService.currentLang}}</td>
            <td class="text-center">{{eventMetrics.mvpsQuantity | number:'1.0-0':translateService.currentLang}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td colspan="2">{{'common.table.totalsText' | translate}}</td>
            <td class="text-center">{{eventStatistics.totals?.startDate | date:"shortDate":undefined:translateService.currentLang}}</td>
            <td class="text-center">{{eventStatistics.totals?.duration | number:'1.0-0':translateService.currentLang}}</td>
            <td class="text-center">{{eventStatistics.totals?.talksQuantity | number:'1.0-0':translateService.currentLang}}</td>
            <td class="text-center">{{eventStatistics.totals?.speakersQuantity | number:'1.0-0':translateService.currentLang}}</td>
            <td class="text-center">{{eventStatistics.totals?.javaChampionsQuantity | number:'1.0-0':translateService.currentLang}}</td>
            <td class="text-center">{{eventStatistics.totals?.mvpsQuantity | number:'1.0-0':translateService.currentLang}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
