<div class="container-information p-2">
  <h3 class="bg-secondary p-1 text-white text-center rounded">{{'statistics.title' | translate}}</h3>

  <app-message></app-message>

  <div class="row justify-content-end">
    <div class="col-auto">
      <button class="btn btn-link text-muted" routerLink="/home"><small>{{'common.menuLinkText' | translate}}</small></button>
    </div>
    <app-language-switcher (reload)="onLanguageChange()" class="col-auto"></app-language-switcher>
  </div>

  <app-information-switcher [type]="'statistics'"></app-information-switcher>

  <app-statistics-switcher [type]="'olap'"></app-statistics-switcher>

  <div class="m-1">
    <form role="form" class="m-2">
      <div class="form-group row justify-content-center">
        <div class="col-auto">
          <p-checkbox name="group1" value="conferences" label="{{'common.checkbox.conferencesLabel' | translate}}"
                      [(ngModel)]="isConferences" binary="true"
                      (onChange)="onEventTypeKindChange()"></p-checkbox>
        </div>
        <div class="col-auto">
          <p-checkbox name="group1" value="meetups" label="{{'common.checkbox.meetupsLabel' | translate}}"
                      [(ngModel)]="isMeetups" binary="true"
                      (onChange)="onEventTypeKindChange()"></p-checkbox>
        </div>
      </div>
      <div class="form-group row justify-content-center align-items-center">
        <label for="organizer" class="col-auto text-right">{{'common.list.organizerLabel' | translate}}</label>
        <div class="col-auto">
          <p-dropdown [options]="organizerSelectItems" [(ngModel)]="selectedOrganizer" id="organizer"
                      placeholder="{{'common.list.organizerPlaceholder' | translate}}" [showClear]="true"
                      (onChange)="onOrganizerChange()" name="organizer" styleClass="organizer-dropdown">
            <ng-template let-organizer pTemplate="item">
              {{organizer.value.name}}
            </ng-template>
          </p-dropdown>
        </div>
        <label for="conference" class="col-auto text-right">{{'common.list.eventTypeLabel' | translate}}</label>
        <div class="col-auto">
          <p-dropdown [options]="eventTypeSelectItems" [(ngModel)]="selectedEventType" id="conference"
                      placeholder="{{'common.list.eventTypePlaceholder' | translate}}" [showClear]="true"
                      (onChange)="onEventTypeChange()" name="conference" styleClass="event-type-dropdown">
            <ng-template let-eventType pTemplate="item">
              <img src="{{eventsImageDirectory}}/{{eventType.value.logoFileName}}" class="img-event-type-logo-list" alt="logo"/>
              <span class="ml-2">{{eventType.value.name}}</span>
            </ng-template>
          </p-dropdown>
        </div>
      </div>
    </form>
  </div>
</div>
