<div>
  <button class="btn btn-link" routerLink="/information/statistics/event-types"
          [class.text-dark]="isEventTypes()" [class.font-weight-bold]="isEventTypes()" [disabled]="isEventTypes()">
    {{'statistics.eventTypes.title' | translate}}
  </button>
  <button class="btn btn-link ml-2" routerLink="/information/statistics/events"
          [class.text-dark]="isEvents()" [class.font-weight-bold]="isEvents()" [disabled]="isEvents()">
    {{'statistics.events.title' | translate}}
  </button>
  <button class="btn btn-link ml-2" routerLink="/information/statistics/speakers"
          [class.text-dark]="isSpeakers()" [class.font-weight-bold]="isSpeakers()" [disabled]="isSpeakers()">
    {{'statistics.speakers.title' | translate}}
  </button>
  <button class="btn btn-link ml-2" routerLink="/information/statistics/companies"
          [class.text-dark]="isCompanies()" [class.font-weight-bold]="isCompanies()" [disabled]="isCompanies()">
    {{'statistics.companies.title' | translate}}
  </button>
  <button class="btn btn-link ml-2" routerLink="/information/statistics/olap"
          [class.text-dark]="isOlap()" [class.font-weight-bold]="isOlap()" [disabled]="isOlap()">
    OLAP
  </button>
</div>
