<div class="container-home p-3">
  <img src="{{imageDirectory}}/jugrugroup.png" alt="logo" class="img-home-logo"/>

  <app-message></app-message>

  <div class="row">
    <app-language-switcher class="col"></app-language-switcher>
  </div>

  <div class="text-center mt-2">
    <button class="btn btn-primary btn-block btn-lg" routerLink="/information">{{'home.informationButtonText' | translate}}</button>
    <button class="btn btn-primary btn-block btn-lg" routerLink="/start">{{'home.gameButtonText' | translate}}</button>
  </div>
</div>

