<div class="container p-2">
  <h3 class="bg-secondary p-1 text-white text-center rounded">{{'talk.title' | translate}}</h3>

  <app-message></app-message>

  <div class="row justify-content-end">
    <div class="col-auto">
      <button class="btn btn-link text-muted" routerLink="/home"><small>{{'common.menuLinkText' | translate}}</small></button>
    </div>
    <app-language-switcher (onReload)="onLanguageChange()" class="col-auto"></app-language-switcher>
  </div>

  <app-information-switcher [type]="'talks'"></app-information-switcher>

  <app-talks-switcher [type]="'talk'"></app-talks-switcher>

  <div class="m-1">
    <div class="m-2">
      <h3>{{talkDetails.talk?.name}}</h3>

      <div>
        <img src="{{eventsImageDirectory}}/{{talkDetails.talk?.eventTypeLogoFileName}}" height="24" alt="logo"/>
        <span class="ml-2">{{talkDetails.talk?.event?.displayName}}</span>
        <span *ngIf="talkDetails.talk?.talkDay"> / <i class="fa fa-calendar"></i> {{'talk.dayLabel' | translate}} {{talkDetails.talk?.talkDay}}</span>
        <span *ngIf="talkDetails.talk?.trackTime"> / <i class="fa fa-clock-o"> {{talkDetails.talk?.trackTimeDate | date:"shortTime":undefined:translateService.currentLang}}</i></span>
      </div>
    </div>
  </div>
</div>
