<div class="container p-2">
  <h3 class="bg-secondary p-1 text-white text-center rounded">{{'talk.title' | translate}}</h3>

  <app-message></app-message>

  <div class="row justify-content-end">
    <div class="col-auto">
      <button class="btn btn-link text-muted" routerLink="/home"><small>{{'common.menuLinkText' | translate}}</small></button>
    </div>
    <app-language-switcher (onReload)="onLanguageChange()" class="col-auto"></app-language-switcher>
  </div>

  <app-information-switcher [type]="'talks'"></app-information-switcher>

  <app-talks-switcher [type]="'talk'"></app-talks-switcher>

  <div class="m-1">
    <div class="m-2">
      <h3>{{talkDetails.talk?.name}}</h3>

      <div class="row align-items-center">
        <div class="col-auto mt-1">
          <img src="{{eventsImageDirectory}}/{{talkDetails.talk?.eventTypeLogoFileName}}" height="24" alt="logo"/>
          <span class="ml-2">{{talkDetails.talk?.event?.displayName}}</span>
          <span *ngIf="talkDetails.talk?.talkDay"> / <i class="fa fa-calendar"></i> {{'talk.dayLabel' | translate}} {{talkDetails.talk.talkDay}}</span>
          <span *ngIf="talkDetails.talk?.talkTime"> / <i class="fa fa-clock-o"></i> {{talkDetails.talk.talkTime | date:"HH:mm":undefined:translateService.currentLang}}</span>
          <span *ngIf="talkDetails.talk?.track"> / <i class="fa fa-location-arrow"></i> {{'talk.trackLabel' | translate}} {{talkDetails.talk.track}}</span>
          <span *ngIf="talkDetails.talk?.language"> / <i class="fa fa-globe"></i> {{talkDetails.talk.language | uppercase}}</span>
        </div>
      </div>

      <div *ngIf="talkDetails.talk?.description" class="mt-3">
        <markdown [data]='talkDetails.talk.description'></markdown>
      </div>

      <div *ngIf="isPresentationLinksListVisible()" class="row mt-3">
        <span *ngFor="let presentationLink of talkDetails.talk.presentationLinks; let i = index" class="col-auto">
          <a href="{{presentationLink}}" class="text-dark">
            <i class="fa fa-file-pdf-o"></i> {{'talk.presentationLinkText' | translate}}<span *ngIf="talkDetails.talk.presentationLinks.length > 1"> {{i + 1}}</span>
          </a>
        </span>
      </div>

      <div *ngIf="isVideoLinksVideoIdsListVisible()">
        <div *ngFor="let videoId of talkDetails.talk.videoLinksVideoIds" class="mt-3">
          <youtube-player videoId="{{videoId}}"></youtube-player>
        </div>
      </div>
    </div>
  </div>
</div>
