<div class="container-information p-2">
  <h3 class="bg-secondary p-1 text-white text-center rounded">{{'eventTypes.title' | translate}}</h3>

  <app-message></app-message>

  <div class="row justify-content-end">
    <div class="col-auto">
      <button class="btn btn-link text-muted" routerLink="/home"><small>{{'common.menuLinkText' | translate}}</small></button>
    </div>
    <app-language-switcher (onReload)="onLanguageChange()" class="col-auto"></app-language-switcher>
  </div>

  <app-information-switcher [type]="'eventTypes'"></app-information-switcher>

  <app-event-types-switcher [type]="'search'"></app-event-types-switcher>

  <div class="m-1">
    <form role="form" class="m-2">
      <div class="form-group row justify-content-center">
        <div class="col-auto">
          <p-checkbox name="group1" value="conferences" label="{{'common.checkbox.conferencesLabel' | translate}}"
                      [(ngModel)]="isConferences" binary="true"
                      (onChange)="onEventTypeKindChange($event.checked)"></p-checkbox>
        </div>
        <div class="col-auto">
          <p-checkbox name="group1" value="meetups" label="{{'common.checkbox.meetupsLabel' | translate}}"
                      [(ngModel)]="isMeetups" binary="true"
                      (onChange)="onEventTypeKindChange($event.checked)"></p-checkbox>
        </div>
      </div>
    </form>

    <div class="m-2">
      42
    </div>
  </div>
</div>
