<div class="container-information p-2">
  <h3 class="bg-secondary p-1 text-white text-center rounded">{{'companies.title' | translate}}</h3>

  <app-message></app-message>

  <div class="row justify-content-end">
    <div class="col-auto">
      <button class="btn btn-link text-muted" routerLink="/home"><small>{{'common.menuLinkText' | translate}}</small></button>
    </div>
    <app-language-switcher (reload)="onLanguageChange()" class="col-auto"></app-language-switcher>
  </div>

  <app-information-switcher [type]="'companies'"></app-information-switcher>

  <app-companies-switcher [type]="'search'"></app-companies-switcher>

  <div class="m-1">
    43
  </div>
</div>
