<div>
  <button class="btn btn-link" routerLink="/information/companies/list"
          [class.text-dark]="isList()" [class.fw-bold]="isList()" [disabled]="isList()">
    {{'companies.list.title' | translate}}
  </button>
  <button class="btn btn-link ms-2" routerLink="/information/companies/search"
          [class.text-dark]="isSearch()" [class.fw-bold]="isSearch()" [disabled]="isSearch()">
    {{'companies.search.title' | translate}}
  </button>
  <button *ngIf="isCompany()" class="btn btn-link text-dark fw-bold ms-2" routerLink="/information/companies"
          [disabled]="true">
    {{'company.title' | translate}}
  </button>
</div>
