<div class="container p-2">
  <h3 class="bg-info p-1 text-white text-center rounded">{{title}}</h3>

  <app-message></app-message>

  <div class="row">
    <div class="col">
      <img *ngIf="logoImageSource" src="{{logoImageSource}}" alt="logo" class="img-guess-logo"/>
    </div>
    <app-language-switcher (reload)="loadQuestion()" class="col"></app-language-switcher>
  </div>

  <div class="text-center mb-1">
    <figure class="figure ml-1 mr-1">
      <img src="{{speakersImageDirectory}}/{{speakerTagClouds.speaker?.photoFileName}}" alt="photo"
           class="figure-img img-thumbnail img-guess-tag-cloud-by-speaker"/>
      <figcaption class="figure-caption text-center">{{speakerTagClouds.speaker?.name}}</figcaption>
    </figure>
  </div>
</div>
