<div class="container p-2">
  <h3 class="bg-info p-1 text-white text-center rounded">{{title}}</h3>

  <app-message></app-message>

  <div class="row">
    <div class="col">
      <img *ngIf="logoImageSource" src="{{logoImageSource}}" alt="logo" class="img-guess-logo"/>
    </div>
    <app-language-switcher (reload)="loadQuestion()" class="col"></app-language-switcher>
  </div>

  <div class="text-center mb-1">
    <figure class="figure ml-1 mr-1" *ngFor="let speaker of speakersTalks.speakers">
      <img src="{{speakersImageDirectory}}/{{speaker.photoFileName}}" alt="photo" class="figure-img img-thumbnail"
           [class.img-guess-talk-by-speaker-single]="speakersTalks.speakers.length == 1"
           [class.img-guess-talk-by-speaker-some]="speakersTalks.speakers.length > 1"/>
      <figcaption class="figure-caption text-center">{{speaker.name}}</figcaption>
    </figure>
  </div>
  <div class="d-grid gap-2">
    <button type="submit" class="btn btn-primary remove-focus" [class.btn-danger]="speakersTalks.invalid0" [disabled]="speakersTalks.invalid0"
            (click)="answer(speakersTalks.id0)">{{speakersTalks.talkName0}}</button>
    <button type="submit" class="btn btn-primary remove-focus" [class.btn-danger]="speakersTalks.invalid1" [disabled]="speakersTalks.invalid1"
            (click)="answer(speakersTalks.id1)">{{speakersTalks.talkName1}}</button>
    <button type="submit" class="btn btn-primary remove-focus" [class.btn-danger]="speakersTalks.invalid2" [disabled]="speakersTalks.invalid2"
            (click)="answer(speakersTalks.id2)">{{speakersTalks.talkName2}}</button>
    <button type="submit" class="btn btn-primary remove-focus" [class.btn-danger]="speakersTalks.invalid3" [disabled]="speakersTalks.invalid3"
            (click)="answer(speakersTalks.id3)">{{speakersTalks.talkName3}}</button>
  </div>
  <div class="text-end mt-1">
    <button class="btn btn-link text-muted" (click)="cancel()"><small>{{'common.cancelLinkText' | translate}}</small></button>
  </div>
</div>
