<div class="container p-2">
  <h3 class="bg-info p-1 text-white text-center rounded">{{title}}</h3>

  <app-message></app-message>

  <div class="row">
    <div class="col">
      <img *ngIf="logoImageSource" src="{{logoImageSource}}" alt="logo" class="img-guess-logo"/>
    </div>
    <app-language-switcher (reload)="loadQuestion()" class="col"></app-language-switcher>
  </div>

  <div class="text-center mb-1">
    <figure class="figure ms-1 mr-1">
      <img src="{{speakersImageDirectory}}/{{speakerTagClouds.speaker?.photoFileName}}" alt="photo"
           class="figure-img img-thumbnail img-guess-tag-cloud-by-speaker"/>
      <figcaption class="figure-caption text-center">{{speakerTagClouds.speaker?.name}}</figcaption>
    </figure>
  </div>
  <div class="text-center">
    <input type="image" alt="cloud1" class="img-thumbnail m-1 img-guess-tag-cloud-by-speaker remove-focus"
           [class.btn-danger]="speakerTagClouds.invalid0" [disabled]="speakerTagClouds.invalid0"
           (click)="answer(speakerTagClouds.id0)" src="{{imageSource0}}"/>
    <input type="image" alt="cloud2" class="img-thumbnail m-1 img-guess-tag-cloud-by-speaker remove-focus"
           [class.btn-danger]="speakerTagClouds.invalid1" [disabled]="speakerTagClouds.invalid1"
           (click)="answer(speakerTagClouds.id1)" src="{{imageSource1}}"/>
    <input type="image" alt="cloud3" class="img-thumbnail m-1 img-guess-tag-cloud-by-speaker remove-focus"
           [class.btn-danger]="speakerTagClouds.invalid2" [disabled]="speakerTagClouds.invalid2"
           (click)="answer(speakerTagClouds.id2)" src="{{imageSource2}}"/>
    <input type="image" alt="cloud4" class="img-thumbnail m-1 img-guess-tag-cloud-by-speaker remove-focus"
           [class.btn-danger]="speakerTagClouds.invalid3" [disabled]="speakerTagClouds.invalid3"
           (click)="answer(speakerTagClouds.id3)" src="{{imageSource3}}"/>
  </div>
  <div class="text-end mt-1">
    <button class="btn btn-link text-muted" (click)="cancel()"><small>{{'common.cancelLinkText' | translate}}</small></button>
  </div>
</div>
