<div class="container p-2">
  <h3 class="bg-info p-1 text-white text-center rounded">{{title}}</h3>

  <app-message></app-message>

  <div class="row">
    <div class="col">
      <img *ngIf="logoImageSource" src="{{logoImageSource}}" alt="logo" class="img-guess-logo"/>
    </div>
    <app-language-switcher (reload)="loadQuestion()" class="col"></app-language-switcher>
  </div>

  <div class="text-center mb-1">
    <figure class="figure ms-1 me-1">
      <img src="{{speakersImageDirectory}}/{{speakerCompanies.speaker.photoFileName}}" alt="photo"
           class="figure-img img-thumbnail img-guess-talk-by-speaker-single"/>
      <figcaption class="figure-caption text-center">{{speakerCompanies.speaker.name}}</figcaption>
    </figure>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary m-1 remove-focus" [class.btn-danger]="speakerCompanies.invalid0" [disabled]="speakerCompanies.invalid0"
            (click)="answer(speakerCompanies.id0)">{{speakerCompanies.companyName0}}</button>
    <button type="submit" class="btn btn-primary m-1 remove-focus" [class.btn-danger]="speakerCompanies.invalid1" [disabled]="speakerCompanies.invalid1"
            (click)="answer(speakerCompanies.id1)">{{speakerCompanies.companyName1}}</button>
    <button type="submit" class="btn btn-primary m-1 remove-focus" [class.btn-danger]="speakerCompanies.invalid2" [disabled]="speakerCompanies.invalid2"
            (click)="answer(speakerCompanies.id2)">{{speakerCompanies.companyName2}}</button>
    <button type="submit" class="btn btn-primary m-1 remove-focus" [class.btn-danger]="speakerCompanies.invalid3" [disabled]="speakerCompanies.invalid3"
            (click)="answer(speakerCompanies.id3)">{{speakerCompanies.companyName3}}</button>
  </div>
  <div class="text-end mt-1">
    <button class="btn btn-link text-muted" (click)="cancel()"><small>{{'common.cancelLinkText' | translate}}</small></button>
  </div>
</div>
