<div>
  <app-common-info></app-common-info>
  <div class="container-dialog p-2">
  <form role="form" class="start-form">
    <app-message></app-message>

    <div class="form-group row">
      <mat-form-field style="width: 100%">
        <mat-label>Choose conference</mat-label>
        <mat-select multiple>
          <mat-option *ngFor="let questionSet of questionSets" [value]="questionSet">{{questionSet.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group row">
      <mat-form-field style="width: 100%">
        <mat-label>Choose question quantity</mat-label>
        <mat-select>
          <mat-option *ngFor="let quantity of quantities" [value]="quantity">{{quantity}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group row">
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="guessName">Guess name by picture</mat-radio-button>
        <br/>
        <mat-radio-button value="guessPicture">Guess picture by name</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="text-center">
      <button type="submit" class="button-play" (click)="start()"
              [class.btn-secondary]="isDisabled()" [disabled]="isDisabled()">
        Start
      </button>
    </div>
  </form>
</div>
</div>
