<div class="container-dialog p-2">
  <h3 class="bg-info p-1 text-white text-center">{{'start.title' | translate}}</h3>

  <app-message></app-message>

  <app-language-switcher (onReload)="onLanguageChange()"></app-language-switcher>

  <form role="form">
    <div class="form-group row">
        <label for="eventType" class="col-sm-2">{{'start.eventTypeLabel' | translate}}</label>
        <div class="col-sm-10">
          <p-listbox [multiple]="true" id="eventType" [options]="eventTypeSelectItems" [(ngModel)]="selectedEventTypes"
                     (onClick)="onEventTypeChange($event.value)" name="eventType"
                     styleClass="start-listbox">
            <ng-template let-eventType pTemplate="item">
              <img src="{{eventsImageDirectory}}/{{eventType.value.logoFileName}}" width="32">
              <span style="margin:0 0 0 15px">{{eventType.value.displayName}}</span>
            </ng-template>
          </p-listbox>
        </div>
    </div>
    <div class="form-group row">
      <label for="event" class="col-sm-2">{{'start.eventLabel' | translate}}</label>
      <div class="col-sm-10">
        <p-listbox [multiple]="true" id="event" [options]="events" [(ngModel)]="selectedEvents"
                   optionLabel="displayName" (onClick)="onEventChange($event.value)" name="event"
                   styleClass="start-listbox" [listStyle]="{'height':'125px'}"
                   [disabled]="isEventsDisabled()"></p-listbox>
      </div>
    </div>
    <div class="form-group row">
      <label for="type" class="col-sm-2">{{'start.modeLabel' | translate}}</label>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-12">
            <p-radioButton id="type" name="modeRadios" value="{{guessMode.GuessNameByPhotoMode}}" label="{{'start.guessNameLabel' | translate}}"
                           [(ngModel)]="selectedGuessMode" (ngModelChange)="onModeChange($event)"
                           inputId="opt1" styleClass="mode-radiobutton" labelStyleClass="mode-radiobutton"></p-radioButton>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p-radioButton name="modeRadios" value="{{guessMode.GuessPhotoByNameMode}}" label="{{'start.guessPictureLabel' | translate}}"
                            [(ngModel)]="selectedGuessMode" (ngModelChange)="onModeChange($event)"
                            inputId="opt2" styleClass="mode-radiobutton" labelStyleClass="mode-radiobutton"></p-radioButton>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
              <p-radioButton name="modeRadios" value="{{guessMode.GuessTalkBySpeakerMode}}" label="{{'start.guessTalkLabel' | translate}}"
                            [(ngModel)]="selectedGuessMode" (ngModelChange)="onModeChange($event)"
                            inputId="opt3" styleClass="mode-radiobutton" labelStyleClass="mode-radiobutton"></p-radioButton>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p-radioButton name="modeRadios" value="{{guessMode.GuessSpeakerByTalkMode}}" label="{{'start.guessSpeakerLabel' | translate}}"
                            [(ngModel)]="selectedGuessMode" (ngModelChange)="onModeChange($event)"
                            inputId="opt4" styleClass="mode-radiobutton" labelStyleClass="mode-radiobutton"></p-radioButton>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="quantity" class="col-sm-2">{{'start.quantityLabel' | translate}}</label>
      <div class="col-sm-10">
        <p-dropdown id="quantity" [options]="quantitySelectItems" [(ngModel)]="selectedQuantity" name="quantity"
                    styleClass="start-dropdown">
        </p-dropdown>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary m-1" (click)="start()"
              [class.btn-secondary]="isStartDisabled()" [disabled]="isStartDisabled()">
        {{'start.startButtonText' | translate}}
      </button>
    </div>
  </form>
</div>
