<div class="container-dialog p-2">
  <h3 class="bg-info p-1 text-white text-center">{{'start.title' | translate}}</h3>

  <app-message></app-message>

  <app-language-switcher (onReload)="onLanguageChange()"></app-language-switcher>

  <form role="form">
    <div class="form-group row">
        <label for="eventType" class="col-sm-2">{{'start.eventTypeLabel' | translate}}</label>
        <div class="col-sm-10">
          <p-listbox multiple="true" id="eventType" [options]="eventTypes" [(ngModel)]="selectedEventTypes"
                     optionLabel="displayName" (onClick)="onEventTypeChange($event.value)" name="eventType"
                     styleClass="start-listbox"></p-listbox>
        </div>
    </div>
<!--    <div class="form-group row">-->
<!--      <label for="eventType" class="col-sm-2">{{'start.eventTypeLabel' | translate}}</label>-->
<!--      <div class="col-sm-10">-->
<!--        <select multiple class="form-control" id="eventType" size="16" [(ngModel)]="selectedEventTypes"-->
<!--                (ngModelChange)="onEventTypeChange($event)" name="eventType">-->
<!--          <option *ngFor="let eventType of eventTypes" [ngValue]="eventType">-->
<!--            {{eventType.displayName}}-->
<!--          </option>-->
<!--        </select>-->
<!--      </div>-->
<!--    </div>-->
    <div class="form-group row">
      <label for="event" class="col-sm-2">{{'start.eventLabel' | translate}}</label>
      <div class="col-sm-10">
        <select multiple class="form-control" id="event" size="4" [(ngModel)]="selectedEvents"
                (ngModelChange)="onEventChange($event)" name="event">
          <option *ngFor="let event of events" [ngValue]="event" [disabled]="isEventsDisabled()">
            {{event.displayName}}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="type" class="col-sm-2">{{'start.modeLabel' | translate}}</label>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="typeRadios" id="guessName" value="{{guessMode.GuessNameByPhotoMode}}"
                 [(ngModel)]="selectedGuessMode" (ngModelChange)="onModeChange($event)">
          <label class="form-check-label" for="guessName">
            {{'start.guessNameLabel' | translate}}
          </label>
        </div>
        <div class="form-check" id="type">
          <input class="form-check-input" type="radio" name="typeRadios" id="guessPicture" value="{{guessMode.GuessPhotoByNameMode}}"
                 [(ngModel)]="selectedGuessMode" (ngModelChange)="onModeChange($event)">
          <label class="form-check-label" for="guessPicture">
            {{'start.guessPictureLabel' | translate}}
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="typeRadios" id="guessTalk" value="{{guessMode.GuessTalkBySpeakerMode}}"
                 [(ngModel)]="selectedGuessMode" (ngModelChange)="onModeChange($event)">
          <label class="form-check-label" for="guessTalk">
            {{'start.guessTalkLabel' | translate}}
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="typeRadios" id="guessSpeaker" value="{{guessMode.GuessSpeakerByTalkMode}}"
                 [(ngModel)]="selectedGuessMode" (ngModelChange)="onModeChange($event)">
          <label class="form-check-label" for="guessSpeaker">
            {{'start.guessSpeakerLabel' | translate}}
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="quantity" class="col-sm-2">{{'start.quantityLabel' | translate}}</label>
      <div class="col-sm-10">
        <select class="form-control" id="quantity" [(ngModel)]="selectedQuantity" name="quantity">
          <option *ngFor="let quantity of quantities" [ngValue]="quantity">
            {{quantity}}
          </option>
        </select>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary m-1" (click)="start()"
              [class.btn-secondary]="isStartDisabled()" [disabled]="isStartDisabled()">
        {{'start.startButtonText' | translate}}
      </button>
    </div>
  </form>
</div>
