<div class="container-information p-2">
  <h3 class="bg-secondary p-1 text-white text-center rounded">{{'event.title' | translate}}</h3>

  <app-message></app-message>

  <app-information-menubar></app-information-menubar>
  <app-events-tabmenu [id]="id"></app-events-tabmenu>

  <div class="mt-3 mb-1 ml-1 mr-1">
    <div class="m-2">
      <a [routerLink]="['/information', 'event-types', 'event-type', eventDetails.event?.eventTypeId]" class="text-dark">
        <img *ngIf="eventDetails.event?.eventTypeLogoFileName" class="align-middle img-event-type-logo"
             src="{{eventsImageDirectory}}/{{eventDetails.event.eventTypeLogoFileName}}" alt="logo"/>
      </a>
      <span class="h4 ms-2 align-middle">{{eventDetails.event?.displayName}}</span>

      <div *ngIf="isDisplayPlaceVisible()" class="mt-1">
        <a *ngIf="eventDetails.event?.mapCoordinates" href="{{googleMapsUrlPrefix}}/{{eventDetails.event.mapCoordinates}}" class="text-dark">
          {{eventDetails.event.displayPlace}}
        </a>
        <span *ngIf="!eventDetails.event?.mapCoordinates">{{eventDetails.event.displayPlace}}</span>
      </div>

      <div *ngIf="isEventLinksVisible()" class="row mt-2">
        <div *ngIf="eventDetails.event?.siteLink" class="col-auto">
          <a href="{{eventDetails.event.siteLink}}" class="text-dark">
            <i class="fas fa-globe"></i><span class="d-none d-sm-inline"> {{'common.siteLinkText' | translate}}</span>
          </a>
        </div>
        <div *ngIf="eventDetails.event?.facebookLink" class="col-auto">
          <a href="{{eventDetails.event.facebookLink}}" class="text-dark">
            <i class="fab fa-facebook-f"></i><span class="d-none d-sm-inline"> Facebook</span>
          </a>
        </div>
        <div *ngIf="eventDetails.event?.vkLink" class="col-auto">
          <a href="{{eventDetails.event.vkLink}}" class="text-dark">
            <i class="fab fa-vk"></i><span class="d-none d-sm-inline"> {{'common.vkLinkText' | translate}}</span>
          </a>
        </div>
        <div *ngIf="eventDetails.event?.twitterLink" class="col-auto">
          <a href="{{eventDetails.event.twitterLink}}" class="text-dark">
            <i class="fab fa-twitter"></i><span class="d-none d-sm-inline"> Twitter</span>
          </a>
        </div>
        <div *ngIf="eventDetails.event?.youtubeLink" class="col-auto">
          <a href="{{eventDetails.event.youtubeLink}}" class="text-dark">
            <i class="fab fa-youtube"></i><span class="d-none d-sm-inline"> YouTube</span>
          </a>
        </div>
        <div *ngIf="eventDetails.event?.telegramLink" class="col-auto">
          <a href="{{eventDetails.event.telegramLink}}" class="text-dark">
            <i class="fab fa-telegram-plane"></i><span class="d-none d-sm-inline"> Telegram</span>
          </a>
        </div>
        <div *ngIf="eventDetails.event?.speakerdeckLink" class="col-auto">
          <a href="{{eventDetails.event.speakerdeckLink}}" class="text-dark">
            <i class="fab fa-speaker-deck"></i><span class="d-none d-sm-inline"> SpeakerDeck</span>
          </a>
        </div>
        <div *ngIf="eventDetails.event?.habrLink" class="col-auto">
          <a href="{{eventDetails.event.habrLink}}" class="text-dark">
            <i class="fas fa-h-square"></i><span class="d-none d-sm-inline"> {{'common.habrLinkText' | translate}}</span>
          </a>
        </div>
      </div>

      <div *ngIf="eventDetails.event?.description" class="mt-3">
        {{eventDetails.event.description}}
      </div>
    </div>

    <div *ngIf="isSpeakersListVisible()" class="m-2">
      <h5>{{'speakers.table.title' | translate}}</h5>
      <p-table [value]="eventDetails.speakers" [resizableColumns]="true" [autoLayout]="true"
               [rows]="10" [rowsPerPageOptions]="[5,10,15,25,50]" [paginator]="true"
               [showCurrentPageReport]="true" [alwaysShowPaginator]="false"
               currentPageReportTemplate="{{'common.table.paginator.currentPageReportTemplate' | translate}}"
               sortMode="multiple" [multiSortMeta]="speakersMultiSortMeta" styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines"
               responsiveLayout="scroll">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th class="text-center" pResizableColumn>#</th>
            <th class="text-center" [pSortableColumn]="'displayName'" pResizableColumn>
              {{'speakers.table.nameColumn' | translate}}
              <p-sortIcon [field]="'displayName'"></p-sortIcon>
            </th>
            <th class="text-center" [pSortableColumn]="'companiesString'" pResizableColumn>
              {{'speakers.table.companyColumn' | translate}}
              <p-sortIcon [field]="'companiesString'"></p-sortIcon>
            </th>
            <th class="text-center" [pSortableColumn]="'twitter'" pResizableColumn>
              {{'speakers.table.twitterColumn' | translate}}
              <p-sortIcon [field]="'twitter'"></p-sortIcon>
            </th>
            <th class="text-center" [pSortableColumn]="'gitHub'" pResizableColumn>
              {{'speakers.table.gitHubColumn' | translate}}
              <p-sortIcon [field]="'gitHub'"></p-sortIcon>
            </th>
            <th class="text-center" [pSortableColumn]="'habr'" pResizableColumn>
              {{'speakers.table.habrColumn' | translate}}
              <p-sortIcon [field]="'habr'"></p-sortIcon>
            </th>
            <th class="text-center" [pSortableColumn]="'javaChampion'" pResizableColumn>
              {{'speakers.table.javaChampionColumn' | translate}}
              <p-sortIcon [field]="'javaChampion'"></p-sortIcon>
            </th>
            <th class="text-center" [pSortableColumn]="'anyMvp'" pResizableColumn>
              {{'speakers.table.mvpColumn' | translate}}
              <p-sortIcon [field]="'anyMvp'"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-speaker let-i = "rowIndex">
          <tr>
            <td class="text-center">{{i + 1}}</td>
            <td>
              <a [routerLink]="['/information', 'speaker', speaker.id]" class="text-dark">
                <img src="{{speakersImageDirectory}}/{{speaker.photoFileName}}" class="img-speaker-photo-table" alt="photo"/>
                <span class="ms-2">{{speaker.displayName}}</span>
              </a>
            </td>
            <td>
              <span *ngFor="let company of speaker.companies; last as isLast">
                <a [routerLink]="['/information', 'company', company.id]" class="text-dark">{{company.name}}</a>
                <span *ngIf="!isLast">, </span>
              </span>
            </td>
            <td>
              <a *ngIf="speaker.twitter" href="{{twitterUrlPrefix}}/{{speaker.twitter}}" class="text-primary">
                <i class="fab fa-twitter"></i>{{speaker.twitter}}
              </a>
            </td>
            <td>
              <a *ngIf="speaker.gitHub" href="{{gitHubUrlPrefix}}/{{speaker.gitHub}}" class="text-dark">
                <i class="fab fa-github"></i>{{speaker.gitHub}}
              </a>
            </td>
            <td>
              <a *ngIf="speaker.habr" href="{{habrUrlPrefix}}/{{speaker.habr}}" class="text-habr">
                <i class="fas fa-h-square"></i>{{speaker.habr}}
              </a>
            </td>
            <td class="text-center">
              <img *ngIf="speaker.javaChampion" src="{{degreesImageDirectory}}/java-champion.png" class="img-speaker-degree-table" alt="java-champion"/>
            </td>
            <td class="text-center">
              <img *ngIf="speaker.mvp" src="{{degreesImageDirectory}}/mvp.png" class="img-speaker-degree-table" alt="mvp"/>
              <img *ngIf="speaker.mvpReconnect" src="{{degreesImageDirectory}}/mvp-reconnect.png" class="img-speaker-degree-table" alt="mvp-reconnect"/>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div *ngIf="isTalksListVisible()" class="m-2">
      <h5>{{'talks.table.title' | translate}}</h5>
      <p-table [value]="eventDetails.talks" [resizableColumns]="true" [autoLayout]="true"
               [rows]="10" [rowsPerPageOptions]="[5,10,15,25,50]" [paginator]="true"
               [showCurrentPageReport]="true" [alwaysShowPaginator]="false"
               currentPageReportTemplate="{{'common.table.paginator.currentPageReportTemplate' | translate}}"
               sortMode="multiple" [multiSortMeta]="talksMultiSortMeta" styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines"
               responsiveLayout="scroll">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th class="text-center" pResizableColumn>#</th>
            <th class="text-center" [pSortableColumn]="'talkDay'" pResizableColumn>
              {{'talks.table.talkDayColumn' | translate}}
              <p-sortIcon [field]="'talkDay'"></p-sortIcon>
            </th>
            <th class="text-center" [pSortableColumn]="'talkTime'" pResizableColumn>
              {{'talks.table.talkTimeColumn' | translate}}
              <p-sortIcon [field]="'talkTime'"></p-sortIcon>
            </th>
            <th class="text-center" [pSortableColumn]="'track'" pResizableColumn>
              {{'talks.table.trackColumn' | translate}}
              <p-sortIcon [field]="'track'"></p-sortIcon>
            </th>
            <th class="text-center" [pSortableColumn]="'name'" pResizableColumn>
              {{'talks.table.nameColumn' | translate}}
              <p-sortIcon [field]="'name'"></p-sortIcon>
            </th>
            <th class="text-center" [pSortableColumn]="'speakersString'" pResizableColumn>
              {{'talks.table.speakersColumn' | translate}}
              <p-sortIcon [field]="'speakersString'"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-talk let-i = "rowIndex">
          <tr>
            <td class="text-center">{{i + 1}}</td>
            <td class="text-center">{{talk.talkDay}}</td>
            <td class="text-center">{{talk.talkTime | date:"HH:mm":undefined:translateService.currentLang}}</td>
            <td class="text-center">{{talk.track}}</td>
            <td>
              <a [routerLink]="['/information', 'talks', 'talk', talk.id]" class="text-dark">{{talk.name}}</a>
            </td>
            <td>
              <span *ngFor="let speaker of talk.speakers; let i = index">
                <span *ngIf="i > 0">, </span><a [routerLink]="['/information', 'speaker', speaker.id]" class="text-dark">{{speaker.displayName}}</a>
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
