<div class="container p-2">
  <h3 class="bg-secondary p-1 text-white text-center rounded">{{'events.title' | translate}}</h3>

  <app-message></app-message>

  <div class="row justify-content-end">
    <div class="col-auto">
      <button class="btn btn-link text-muted" routerLink="/home"><small>{{'common.menuLinkText' | translate}}</small></button>
    </div>
    <app-language-switcher (onReload)="onLanguageChange()" class="col-auto"></app-language-switcher>
  </div>

  <app-information-switcher [type]="'events'"></app-information-switcher>

  <app-events-switcher [type]="'search'"></app-events-switcher>
</div>
